Repository erda-project/erda, pull requests merged in 2021-12, with the labels that each got.

#3227 remove useless version of ingress: networking.k8s.io/v1beta1
  modules/hepa/services/api_policy/impl/impl.go
  pkg/k8s/interface_factory/ingress.go
Labels: hepa, approved

#3226 issues support dingding talk notice
  bundle/events.go
  modules/core-services/services/notify/channel/notify.chanel.service.go
  modules/dop/endpoints/issue_callback.go
  modules/dop/endpoints/issue_callback_test.go
  modules/eventbox/subscriber/dingtalk_worknotice/dingtalk_worknotice.go
  pkg/erda-configs/i18n/notify_item.yml
Labels: dop, feature

#3211 register pipeline queues endpoints to openapi
  apistructs/pipeline_queue.go
  modules/openapi/api/apis/pipeline/pipeline_queue_create.go
  modules/openapi/api/apis/pipeline/pipeline_queue_delete.go
  modules/openapi/api/apis/pipeline/pipeline_queue_get.go
  modules/openapi/api/apis/pipeline/pipeline_queue_list.go
  modules/openapi/api/apis/pipeline/pipeline_queue_priority_upgrade.go
  modules/openapi/api/apis/pipeline/pipeline_queue_update.go
Labels: pipeline, approved

#3229 fix edas 601 ongoing problem
  modules/scheduler/executor/plugins/edas/edas.go
Labels: approved

#3231 refactor: 💡 disk metrics data
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render.go
  modules/cmp/metrics/metrics.go
  modules/cmp/metrics/metricsReq.go
  modules/cmp/metricsImpl.go
Labels: cmp, refactor, approved

#3207 fix: container restart log
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/containerTable/render.go
Labels: cmp, bugfix, approved

#3235 cherry-pick: add meta.k8s.io/v1beta1 in restconfig
  go.mod
  modules/cmp/steve/dynamiccolumns.go
  modules/cmp/steve/schemas.go
  modules/cmp/steve/server.go
Labels: cmp, bugfix, approved

#3209 feat: add bundle method to list middleware
  bundle/middleware.go
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/eventTable/render.go
Labels: cmp, feature, approved

#3236 fix: reset credential when create action in master cluster
  modules/cmp/impl/clusters/credential.go
  modules/cmp/impl/clusters/credential_test.go
  pkg/k8sclient/client.go
  pkg/k8sclient/config/config.go
Labels: cmp, bugfix, approved

#3245 inject trace
  go.mod
  go.sum
  pkg/common/common.go
  pkg/common/trace/trace.go
Labels: approved

#3234 Fix/optimization of some sql cost time
  .erda/migrations/cmdb/20211202-dice-audit-add-deleted-index.sql
  modules/core-services/dao/audit.go
  modules/core-services/services/audit/audit.go
  modules/pipeline/initialize.go
  modules/pipeline/services/pipelinesvc/sync_after_split_table.go
  modules/pipeline/spec/pipeline_extra.go
  modules/pipeline/spec/pipeline_extra_test.go
Labels: approved

#3233 feature: update relation between trending and waterfall chart of test dashboard
  modules/dop/component-protocol/components/test-dashboard/at_case_rate_trending_chart_group/chart/render.go
  modules/dop/component-protocol/components/test-dashboard/at_case_rate_trending_chart_group/filter/model.go
  modules/dop/component-protocol/components/test-dashboard/at_case_rate_trending_chart_group/filter/render.go
  modules/dop/component-protocol/components/test-dashboard/at_plan_latest_waterfall_chart_group/chart/render.go
  modules/dop/component-protocol/components/test-dashboard/at_plan_latest_waterfall_chart_group/filter/render.go
  modules/dop/component-protocol/components/test-dashboard/common/gshelper/helper.go
  modules/dop/component-protocol/scenarios/test-dashboard.yml
Labels: dop, feature, approved

#3230 fix: optimize sql of test dashboard to solve the problem of slow sql
  .erda/migrations/qa/20211201-auto-test-exec-history-index.sql
  apistructs/autotest_exec_history.go
  apistructs/autotest_space.go
  modules/dop/component-protocol/components/test-dashboard/at_api_chart_group/at_api_avg_cost_chart/render.go
  modules/dop/component-protocol/components/test-dashboard/at_api_chart_group/at_api_rate_failed_chart/render.go
  modules/dop/component-protocol/components/test-dashboard/common/gshelper/helper.go
  modules/dop/component-protocol/components/test-dashboard/filter/render.go
  modules/dop/component-protocol/components/test-dashboard/overview_group/blocks/at/at_num_api/render.go
  modules/dop/component-protocol/components/test-dashboard/overview_group/blocks/at/at_num_scene/render.go
  modules/dop/component-protocol/components/test-dashboard/scene_chart_group/scene_avg_cost_chart/render.go
  modules/dop/component-protocol/components/test-dashboard/scene_chart_group/scene_rate_failed_chart/render.go
  modules/dop/component-protocol/components/test-dashboard/scene_chart_group/scene_rate_passed_chart/render.go
  modules/dop/dao/autotest_exec_history.go
  modules/dop/dao/autotest_scene.go
  modules/dop/dao/autotest_scene_step.go
  modules/dop/dao/testplan_v2_step.go
  modules/dop/services/autotest_v2/scene.go
Labels: dop, approved

#3243 Timed task compensation bug fix
  modules/pipeline/services/pipelinesvc/cron_compensate.go
Labels: approved

#3216 bugfix: Notify channels use nicknames to show the creator
  modules/core-services/services/notify/channel/notify.chanel.service.go
  modules/core-services/services/notify/channel/notify.chanel.service_test.go
  tools/gotools/go-test-sum/main.go
Labels: core feature, bugfix

#3247 Lightweight opentelemetry config
  conf/monitor/streaming/streaming.yaml
  erda.yml
  go.mod
  modules/oap/collector/receivers/common/interceptors.go
  pkg/common/trace/trace.go
Labels: approved

#3253 Fix OTEL_EXPORTER_OTLP_TRACES_ENDPOINT parse error
  pkg/common/trace/trace.go
Labels: approved

#3254 Fix set terminus_key tag
  modules/oap/collector/receivers/common/interceptors.go
Labels: approved

#3257 Add erda-trace-metrics topic to metric consumer
  conf/monitor/streaming/streaming.yaml
Labels: approved

#3258 fix cidepcache image recycle problem
  modules/cmp/endpoints/officer.go
Labels: approved

#3238 refactor: 💡 change nodes list style
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render.go
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cpuTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/memTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/podTable/render.go
Labels: approved

#3259 Issue gantt chart set up, issue inclusion relation
  .erda/migrations/cmdb/20211129-issue-relation-type.sql
  apistructs/component_protocol.go
  apistructs/issue.go
  apistructs/issue_related.go
  apistructs/issue_state.go
  conf/dop/dop.yaml
  conf/openapi/openapi.yaml
  modules/dop/component-protocol/components/all.go
  modules/dop/component-protocol/components/issue-gantt/filter/model.go
  modules/dop/component-protocol/components/issue-gantt/filter/render.go
  modules/dop/component-protocol/components/issue-gantt/gantt/model.go
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/component-protocol/components/issue-gantt/ganttContainer/render.go
  modules/dop/component-protocol/components/issue-gantt/issueAddButton/render.go
  modules/dop/component-protocol/components/issue-gantt/page/render.go
  modules/dop/component-protocol/components/issue-gantt/scenario.go
  modules/dop/component-protocol/components/issue-gantt/topHead/render.go
  modules/dop/component-protocol/scenarios/issue-gantt.yml
  modules/dop/dao/issue.go
  modules/dop/dao/issue_issue_relation.go
  modules/dop/endpoints/issue_related.go
  modules/dop/services/issue/convert.go
  modules/dop/services/issue/convert_test.go
  modules/dop/services/issue/import.go
  modules/dop/services/issue/issue.go
  modules/dop/services/issuerelated/issue_related.go
Labels: dop, feature

#3267 fix: update time format to executeTime
  modules/dop/component-protocol/components/test-dashboard/at_case_rate_trending_chart_group/chart/render.go
Labels: dop

#3268 Set erda trace disable default
  erda.yml
Labels: approved

#3228 cmp query record timeout check
  modules/cmp/impl/nodes/query.go
Labels: cmp, approved

#3246 kanban card new style
  apistructs/issue.go
  modules/dop/component-protocol/components/common/issue.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/issue_kanban.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/render.go
  modules/dop/component-protocol/scenarios/issue-manage.yml
  modules/dop/services/issue/convert.go
Labels: dop, feature

#3276 Issue gantt filter root instead of children node
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/dao/issue.go
  modules/dop/services/issue/issue.go
Labels: dop

#3277 fix: added second confirmation for scene deletion
  modules/dop/component-protocol/components/auto-test-scenes/rightPage/fileDetail/fileConfig/scenesSetConfig/scenesStages/model.go
Labels: dop

#3241 polish pods table and events table
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/eventTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/eventTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/containerTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render_test.go
Labels: cmp, approved, polish

#3283 feat: 🎸 add cluster version
  conf/cmp/i18n/cp/scenarios/cmp-cluster-list.yaml
  modules/cmp/component-protocol/components/cmp-cluster-list/list/model.go
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render.go
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render_test.go
Labels: cmp, refactor, approved

#3284 Fix issue gantt iteration filter, remove deprecated gantt chart
  apistructs/issue.go
  modules/dop/component-protocol/components/issue-gantt/filter/model.go
  modules/dop/component-protocol/components/issue-gantt/filter/render.go
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/component-protocol/components/issue-manage/issueViewGroup/render.go
  modules/dop/dao/issue_issue_relation.go
  modules/dop/services/issue/issue.go
Labels: dop, bugfix

#3286 Issue children count, query issue items not included
  apistructs/issue.go
  apistructs/issue_state.go
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/dao/issue.go
  modules/dop/dao/issue_issue_relation.go
  modules/dop/services/issue/issue.go
Labels: dop, feature

#3282 keep iterations order after set issue summaries
  modules/dop/endpoints/iteration.go
Labels: dop

#3288 issues import-export support plan start time
  modules/dop/services/issue/convert.go
  modules/dop/services/issue/convert_test.go
  pkg/erda-configs/i18n/issue.json
Labels: dop, feature

#3289 Issue plan started at db migration
  .erda/migrations/cmdb/20211207-issue-plan-start-time.sql
  modules/dop/dao/issue_issue_relation.go
Labels: dop, feature

#3280 bugfix: ensure cassandra can be safely removed.
  conf/monitor/monitor/monitor.yaml
  conf/msp/msp.yaml
  modules/core/monitor/alert/alert-apis/provider.go
  modules/core/monitor/event/query/event.query.service.go
  modules/core/monitor/event/query/event.query.service_test.go
  modules/core/monitor/event/query/mock_log_test.go
  modules/msp/apm/exception/query/exception.service.go
  modules/msp/apm/exception/query/exception.service_test.go
  modules/msp/apm/exception/query/provider.go
  modules/msp/apm/trace/query/provider.go
  modules/msp/apm/trace/query/trace.service.go
  modules/msp/apm/trace/query/trace.service_test.go
Labels: msp

#3290 fix: pending pod not exists in workload detail
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render.go
  modules/cmp/component-protocol/cputil/util.go
  modules/cmp/component-protocol/cputil/util_test.go
Labels: cmp, bugfix, approved

#3287 notifychannels add vms and email channel
  .erda/migrations/core-services/20211207-erda_notify_channel.sql
  api/proto-go/all.go
  api/proto-go/core/services/notify/channel/pb/channel.pb.go
  api/proto/core/services/notify/channel/channel.proto
  apistructs/notify_channel.go
  apistructs/notify_channel_test.go
  apistructs/notify_group.go
  conf/core-services/i18n/cs-i18n.yml
  modules/core-services/services/notify/channel/kind/aliyun_vms.go
  modules/core-services/services/notify/channel/kind/email.go
  modules/core-services/services/notify/channel/notify.chanel.service.go
  modules/core-services/services/notify/channel/notify.chanel.service_test.go
  modules/core-services/services/notify/notify.go
  modules/core/monitor/alert/alert-apis/adapt/expression.go
  modules/eventbox/subscriber/email/email.go
  modules/eventbox/subscriber/sms/sms.go
  modules/eventbox/subscriber/vms/vms.go
Labels: msp, feature

#3295 feat: add stopped status for workload
  conf/cmp/i18n/cp/scenarios/cmp-dashboard-workload-detail.yaml
  conf/cmp/i18n/cp/scenarios/cmp-dashboard-workloads-list.yaml
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/filter/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTotal/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTotal/render.go
  modules/cmp/component-protocol/cputil/util.go
  modules/cmp/component-protocol/cputil/util_test.go
Labels: approved

#3275 add terminus_define_tag lable for spark job
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sspark/k8sspark.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sspark/util.go
  modules/pipeline/pkg/containers/task_container.go
  modules/pipeline/pkg/containers/task_container_test.go
Labels: pipeline, feature, approved

#3270 pipeline loop task clean result
  modules/pipeline/dbclient/op_pipeline_task.go
  modules/pipeline/pipengine/reconciler/taskrun/task_loop.go
  modules/pipeline/pipengine/reconciler/taskrun/task_loop_test.go
  modules/pipeline/pipengine/reconciler/taskrun/update.go
Labels: pipeline, bug, approved

#3303 modify alert expression default alert level
  .erda/migrations/monitor/20211208-sp_alert_rules.sql
Labels: msp

#3304 scene set execution configuration sheet detailed display
  modules/dop/component-protocol/components/auto-test-scenes/rightPage/fileDetail/fileExecute/executeTaskTable/render.go
Labels: approved

#3305 bugfix: log statistics api spec migrate
  modules/openapi/api/apis/msp/apm/log_service/msp_addon_logs_search_sequential.go
  modules/openapi/api/apis/msp/apm/log_service/msp_addon_logs_statistic.go
Labels: msp, bugfix

#3281 add cluster batch offline
  apistructs/cmp.go
  bundle/org.go
  modules/cmp/endpoints/cluster.go
  modules/cmp/endpoints/endpoints.go
  modules/cmp/impl/clusters/offline_edge_cluster.go
  modules/cmp/impl/clusters/offline_test.go
  modules/core-services/dao/org_cluster_relation.go
  modules/core-services/endpoints/endpoints.go
  modules/core-services/endpoints/organization.go
Labels: cmp, approved

#3307 add git-sync.yml & pipeline.yml for ci
  .github/workflows/git-sync.yml
  pipeline.yml
Labels: approved

#3308 feature: interval 4m for chart overview of service list
  modules/msp/apm/service/apm.service.service.go
Labels: msp, feature

#3310 Fix issue gantt update time from milli, updated issue in inparams
  modules/dop/component-protocol/components/issue-gantt/gantt/model.go
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/services/issue/issue.go
Labels: approved

#3312 Fix msp.env.id replace
  conf/msp/instrumentationlibrary/jaeger-template.yaml
  modules/msp/apm/adapter/adapter.service.go
Labels: approved

#3175 schduler support max_cpu/max_mem setting
  apistructs/service.go
  modules/scheduler/executor/plugins/k8s/daemonset.go
  modules/scheduler/executor/plugins/k8s/deployment.go
  modules/scheduler/executor/plugins/k8s/k8s.go
  modules/scheduler/executor/plugins/k8s/statefulset.go
  modules/scheduler/impl/servicegroup/servicegroup.go
  pkg/parser/diceyml/basic_validate_visitor.go
  pkg/parser/diceyml/basic_validate_visitor_test.go
  pkg/parser/diceyml/errors.go
Labels: approved, scheduler

#3256 optimization of query applications
  modules/core-services/endpoints/application.go
  modules/core-services/endpoints/application_test.go
  modules/core-services/model/project.go
Labels: bugfix

#3315 modify 邮箱 to 邮件
  conf/core-services/i18n/cs-i18n.yml
  conf/monitor/monitor/i18n/alert.yml
Labels: msp, approved

#3313 feature: add requirement-task-overview scenario
  conf/dop/dop.yaml
  modules/dop/component-protocol/components/all.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChart/model.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChart/render.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChartFilter/model.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChartFilter/render.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/render.go
  modules/dop/component-protocol/components/requirement-task-overview/common/condition.go
  modules/dop/component-protocol/components/requirement-task-overview/common/gshelper/helper.go
  modules/dop/component-protocol/components/requirement-task-overview/common/util.go
  modules/dop/component-protocol/components/requirement-task-overview/common/vars.go
  modules/dop/component-protocol/components/requirement-task-overview/container/info/model.go
  modules/dop/component-protocol/components/requirement-task-overview/container/info/render.go
  modules/dop/component-protocol/components/requirement-task-overview/container/render.go
  modules/dop/component-protocol/components/requirement-task-overview/container/simpleChart/model.go
  modules/dop/component-protocol/components/requirement-task-overview/container/simpleChart/render.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/render.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/model.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/render.go
  modules/dop/component-protocol/components/requirement-task-overview/page/render.go
  modules/dop/component-protocol/components/requirement-task-overview/pageContent/render.go
  modules/dop/component-protocol/components/requirement-task-overview/scenario.go
  modules/dop/component-protocol/components/requirement-task-overview/tabs/render.go
  modules/dop/component-protocol/scenarios/requirement-task-overview.yml
  modules/dop/services/issue/issue.go
Labels: dop, approved

#3314 Issue gantt chart filtered by unfinished state belongs
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/dao/issue.go
Labels: dop, feature

#3320 add scenarios to openapi.yaml
  conf/openapi/openapi.yaml
Labels: dop, approved

#3322 fix: set pathType when creating ingress
  pkg/k8s/typed/networking/v1/ingress.go
  pkg/k8s/typed/networking/v1beta1/ingress.go
Labels: hepa, bugfix, approved

#3316 feature: issue-kanban order by updatedAt desc
  modules/dop/component-protocol/components/issue-manage/issueKanban/issue_kanban.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/render.go
  modules/dop/dao/issue.go
  modules/dop/endpoints/issue.go
  modules/dop/services/issuepanel/issue_panel.go
Labels: dop, feature

#3317 New style issue table item
  modules/dop/component-protocol/components/issue-manage/issueTable/render.go
Labels: dop, feature, approved

#3328 fix the bugs of require-task-overview
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChart/render.go
  modules/dop/component-protocol/components/requirement-task-overview/container/info/model.go
  modules/dop/component-protocol/components/requirement-task-overview/container/info/render.go
Labels: dop, approved

#3325 refactor: 💡 change cluster list data
  conf/cmp/i18n/cp/scenarios/cmp-cluster-list.yaml
  modules/cmp/component-protocol/components/cmp-cluster-list/list/model.go
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render.go
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render_test.go
Labels: cmp, refactor, approved

#3329 update pipeline result
  modules/pipeline/dbclient/op_pipeline_task.go
Labels: approved

#3332 fix the bug of simple chart of requirement task overview
  modules/dop/component-protocol/components/requirement-task-overview/container/simpleChart/render.go
Labels: dop

#3330 feature: issue-manage stop sync temporarily
  modules/dop/component-protocol/scenarios/issue-manage.yml
Labels: dop, feature

#3336 feature: expose alert menu for msp-project
  .erda/migrations/msp/20211210-menu.sql
Labels: msp

#3335 Issue gantt chart children filtered by assignee, issue table style
  modules/dop/component-protocol/components/issue-gantt/gantt/model.go
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/component-protocol/components/issue-manage/issueTable/render.go
  modules/dop/dao/issue.go
  modules/dop/services/issue/issue.go
Labels: dop, feature

#3337 Add issue update undefined expiry status index
  .erda/migrations/cmdb/20211210-issue-expiry-status-update-index.sql
Labels: dop

#3342 Fix issue gantt find issue root query
  modules/dop/dao/issue.go
  modules/dop/services/issue/issue.go
Labels: approved

#3326 polish podsList and workloadsList
  bundle/steve.go
  conf/cmp/cmp.yaml
  conf/cmp/i18n/cp/scenarios/cmp-dashboard-pods.yaml
  conf/cmp/i18n/cp/scenarios/cmp-dashboard-workload-detail.yaml
  conf/cmp/i18n/cp/scenarios/cmp-dashboard-workloads-list.yaml
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/scenario.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/yamlDrawer/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/yamlDrawer/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/yamlDrawer/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/yamlFileEditor/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/yamlFileEditor/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/yamlFileEditor/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/operationButton/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/operationButton/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/operationButton/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/restartButton/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/scenario.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/scenario.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/yamlDrawer/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/yamlDrawer/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/yamlDrawer/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/yamlFileEditor/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/yamlFileEditor/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/yamlFileEditor/render_test.go
  modules/cmp/component-protocol/scenarios/cmp-dashboard-pods.yml
  modules/cmp/component-protocol/scenarios/cmp-dashboard-workload-detail.yml
  modules/cmp/component-protocol/scenarios/cmp-dashboard-workloads-list.yml
Labels: approved

#3309 dump data while snapshotting database
  pkg/database/sqlparser/snapshot/config.go
  pkg/database/sqlparser/snapshot/config_test.go
  pkg/database/sqlparser/snapshot/error.go
  pkg/database/sqlparser/snapshot/error_test.go
  pkg/database/sqlparser/snapshot/snapshot.go
  quick-start/docker-compose.yml
Labels: feature, approved, install

#3343 bugfix: ensure orgName filter when query log
  modules/core/monitor/log/query/log.query.service.go
  modules/core/monitor/log/query/log.query.service_test.go
  modules/core/monitor/log/storage/elasticsearch/aggregate.go
  modules/core/monitor/log/storage/elasticsearch/iterator.go
  modules/core/monitor/log/storage/storage.go
Labels: msp, bugfix

#3271 Process span tag with new data specification
  conf/monitor/monitor/chartview/service/translation_analysis_cache.json
  conf/monitor/monitor/chartview/service/translation_analysis_database.json
  conf/monitor/monitor/chartview/service/translation_analysis_rpc.json
  conf/monitor/streaming/streaming.yaml
  modules/core/monitor/metric/storage/elasticsearch/provider.go
  modules/monitor/apm/topology/topology.go
  modules/monitor/apm/topology/topology_test.go
  modules/oap/collector/receivers/common/constants.go
  modules/oap/collector/receivers/common/interceptors.go
Labels: monitor-stack, approved

#3311 fix: kubeconfig auth with token
  conf/cluster-dialer/cluster-dialer.yaml
  modules/cmp/impl/clusters/import_cluster.go
  modules/cmp/impl/clusters/import_cluster_test.go
Labels: cmp, cluster-manager, bugfix, approved

#3347 Fix issue gantt root query, join relation parent
  modules/dop/dao/issue.go
Labels: dop, bugfix

#3350 bugfix: fix bug that download container log got empty result
  modules/core/monitor/log/query/log.query.service.go
  modules/core/monitor/log/query/routes.go
Labels: msp, bugfix, approved

#3237 feature: optimize scheduler startup time
  modules/scheduler/conf/conf.go
  modules/scheduler/executor/executor.go
  modules/scheduler/executor/plugins/k8s/k8s.go
  modules/scheduler/executor/plugins/k8s/k8s_test.go
  modules/scheduler/executor/util/util.go
Labels: orchestrator, feature, bugfix, scheduler

#3345 feature: pipeline support buildkit
  apistructs/pipeline.go
  modules/cluster-dialer/server/tunnel-server.go
  modules/cluster-dialer/server/tunnel-server_test.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sjob/k8sjob.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sjob/k8sjob_test.go
Labels: pipeline, feature, approved

#3356 bugfix: change default log query timerange to 3 hour
  modules/core/monitor/log/query/log.query.service.go
Labels: msp, approved

#3358 Add issue event operator in issue gantt chart
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/dao/issue.go
Labels: dop, bugfix, approved

#3339 feature: sort service list about 1.error rate 2. avg duration 3. rps
  api/proto-go/go.mod
  api/proto-go/go.sum
  api/proto-go/msp/apm/service/pb/service.form.pb.go
  api/proto-go/msp/apm/service/pb/service.pb.go
  api/proto/msp/apm/service/service.proto
  go.mod
  go.sum
  modules/monitor/apm/topology/topology.go
  modules/msp/apm/service/apm.service.service.go
  pkg/math/math.go
  pkg/math/math_test.go
Labels: msp, feature

#3366 fix the bug of release/1.3 custom alert can not send
  modules/core/monitor/alert/alert-apis/adapt/alert_convert.go
  modules/core/monitor/alert/alert-apis/adapt/customize.go
  modules/core/monitor/alert/alert-apis/alert.service.go
Labels: approved

#3349 fix: quota audit
  modules/core-services/services/project/project.go
Labels: approved

#3223 add erda-cli view cmd
  tools/cli/cmd/build.go
  tools/cli/cmd/view.go
  tools/cli/common/workspace.go
Labels: feature, approved

#3354 Fix work bench issue data query
  modules/dop/dao/issue.go
  modules/dop/services/issue/issue.go
  modules/dop/services/workbench/workbench.go
  modules/dop/services/workbench/workbench_test.go
Labels: dop, bugfix, approved

#3360 Requirement process is based on inclusion relation stats
  modules/dop/dao/issue_issue_relation.go
  modules/dop/services/issue/issue.go
Labels: dop, feature, approved

#3373 Add issue type bug in gantt chart, fix typo
  apistructs/issue.go
  apistructs/issue_state.go
  apistructs/workbench.go
  modules/dop/component-protocol/components/common/issue.go
  modules/dop/component-protocol/components/issue-dashboard/common/stackhandlers/state.go
  modules/dop/component-protocol/components/issue-dashboard/filter/render.go
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/model.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/render.go
  modules/dop/dao/issue.go
  modules/dop/services/issue/issue.go
  modules/openapi/component-protocol/scenarios/home-page-content/components/title/render.go
Labels: dop, feature, approved

#3318 concurrent tar cache file safe
  modules/actionagent/agenttool/lock.go
  modules/actionagent/agenttool/lock_test.go
  modules/actionagent/define.go
  modules/actionagent/step_prepare.go
  modules/actionagent/step_store.go
Labels: pipeline, bug, approved

#3374 feature: add pprof for core-services
  cmd/core-services/main.go
  conf/core-services/core-services.yaml
Labels: monitor-stack, approved

#3375 Add rateps function for metric influxql
  modules/core/monitor/metric/query/es-tsql/influxql/functions.go
  modules/core/monitor/metric/query/metricmeta/type_aggregations.go
Labels: approved

#3379 bugfix: add terminusKey for LogAnalyze menu item
  modules/msp/menu/menu.service.go
Labels: msp, bugfix

#3377 Display all metrics for msp
  conf/monitor/monitor/metricmeta/groups/micro_service.yml
  conf/monitor/monitor/metricmeta/groups/org.yml
  conf/monitor/monitor/metricmeta/i18n/_group.yml
  modules/core/monitor/metric/query/metricmeta/provider_meta_index.go
Labels: approved

#3382 update erda-infra
  go.mod
  go.sum
Labels: msp, approved

#3365 feature: add stackchart render and add dice_issue_state_circulation
  .erda/migrations/cmdb/20211214-issue-state-circulation.sql
  conf/dop/dop.yaml
  modules/dop/component-protocol/components/requirement-task-overview/common/gshelper/helper.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/render.go
  modules/dop/component-protocol/components/requirement-task-overview/scenario.go
  modules/dop/component-protocol/components/requirement-task-overview/stackChartBlock/render.go
  modules/dop/component-protocol/components/requirement-task-overview/stackChartBlock/stackChart/model.go
  modules/dop/component-protocol/components/requirement-task-overview/stackChartBlock/stackChart/render.go
  modules/dop/component-protocol/components/requirement-task-overview/stackChartBlock/stackChartFilter/model.go
  modules/dop/component-protocol/components/requirement-task-overview/stackChartBlock/stackChartFilter/render.go
  modules/dop/component-protocol/scenarios/requirement-task-overview.yml
  modules/dop/dao/issue.go
  modules/dop/dao/issue_state_circulation.go
  modules/dop/dao/issue_stream.go
  modules/dop/initialize.go
  modules/dop/services/issue/issue.go
Labels: dop

#3346 Release1.3
  build/scripts/cluster-agent/shell-setup.sh
  go.mod
  go.sum
  modules/cmp/steve/middleware/audit.go
  modules/cmp/steve/middleware/dispatcher.go
  modules/cmp/steve/middleware/dispatcher_test.go
  modules/cmp/steve/websocket/decode.go
  modules/cmp/steve/websocket/decode_test.go
Labels: approved

#3387 latency metric&simplify labels
  modules/core/monitor/entity/persist/statistics.go
  modules/core/monitor/event/persist/statistics.go
  modules/core/monitor/event/persist/statistics_test.go
  modules/core/monitor/log/persist/statistics.go
  modules/core/monitor/log/persist/statistics_test.go
  modules/core/monitor/metric/persist/statistics.go
  modules/core/monitor/metric/persist/statistics_test.go
  modules/core/monitor/storekit/consume.go
  modules/core/monitor/storekit/statistics.go
  modules/msp/apm/exception/erda-error/persist/statistics.go
  modules/msp/apm/exception/erda-event/persist/statistics.go
  modules/msp/apm/trace/persist/statistics.go
Labels: approved

#3383 orchestartor max cpu/mem bugfix
  apistructs/addon.go
  modules/orchestrator/services/addon/addon_sourcecov.go
  modules/orchestrator/services/addon/addon_sourcecov_test.go
  modules/orchestrator/services/addon/addon_status.go
  modules/orchestrator/spec/legacy_dice.go
  modules/orchestrator/utils/deployment_utils.go
  modules/scheduler/executor/plugins/k8s/k8s.go
  modules/scheduler/executor/plugins/k8s/k8s_test.go
Labels: orchestrator

#3327 fix bug redeploy that pipeline on JOB_CLUSTER
  modules/orchestrator/services/runtime/runtime.go
  modules/orchestrator/services/runtime/runtime_test.go
Labels: approved

#3376 Add multiple iterations filter back in issue gantt
  modules/dop/component-protocol/components/issue-gantt/filter/model.go
  modules/dop/component-protocol/components/issue-gantt/filter/render.go
  modules/dop/component-protocol/components/issue-gantt/gantt/render.go
Labels: dop, feature, approved

#3384 feature: topology service node overview
  api/proto-go/msp/apm/service/client/client.go
  api/proto-go/msp/apm/service/pb/service.form.pb.go
  api/proto-go/msp/apm/service/pb/service.http.pb.go
  api/proto-go/msp/apm/service/pb/service.json.pb.go
  api/proto-go/msp/apm/service/pb/service.pb.go
  api/proto-go/msp/apm/service/pb/service.validator.pb.go
  api/proto-go/msp/apm/service/pb/service_grpc.pb.go
  api/proto/msp/apm/service/service.proto
  conf/msp/msp.yaml
  modules/msp/apm/service/apm.service.service.go
  modules/msp/apm/service/apm.service.service_test.go
  modules/msp/apm/service/provider.go
  modules/msp/apm/service/view.go
  modules/msp/apm/service/view/chart/avg_duration.go
  modules/msp/apm/service/view/chart/chart.go
  modules/msp/apm/service/view/chart/error_rate.go
  modules/msp/apm/service/view/chart/http_code.go
  modules/msp/apm/service/view/chart/rps.go
Labels: msp, feature

#3389 fix: update the color of stackChart
  modules/dop/component-protocol/components/requirement-task-overview/stackChartBlock/stackChart/render.go
Labels: dop, approved

#3378 single selection changed to multiple selection
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChart/render.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChartFilter/model.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChartFilter/render.go
  modules/dop/component-protocol/components/requirement-task-overview/common/gshelper/helper.go
  modules/dop/component-protocol/scenarios/requirement-task-overview.yml
Labels: dop

#3390 fix: fix the panic of issue update
  modules/dop/services/issue/issue.go
Labels: dop, approved

#3395 fix: update stackChart style
  modules/dop/component-protocol/components/requirement-task-overview/stackChartBlock/stackChart/render.go
Labels: dop, approved

#3340 limit task retry when system error
  apistructs/pipeline_task.go
  apistructs/pipeline_task_test.go
  modules/pipeline/pipengine/reconciler/task.go
  modules/pipeline/pipengine/reconciler/taskrun/framework.go
Labels: approved

#3396 bugfix: temp remove monitor-agent-injector
  erda.yml
Labels: approved

#3397 bugfix: http code
  modules/msp/apm/service/view/chart/http_code.go
Labels: msp, bugfix

#3351 jump over empty addon
  modules/orchestrator/services/deployment/deployment_context.go
  modules/orchestrator/services/deployment/deployment_context_test.go
Labels: orchestrator, bug

#3399 fix: solve multi-instance problems and compatible with old data
  modules/dop/dao/issue.go
  modules/dop/initialize.go
Labels: dop

#3398 fix: allows podInfo.Cluster to be empty
  go.sum
  modules/core-services/services/project/cache.go
  modules/core-services/services/project/project.go
Labels: bugfix, approved

#3400 modify template and set ticket link
  apistructs/event.go
  apistructs/event_test.go
  pkg/erda-configs/i18n/notify_item.yml
Labels: dop, bug

#3210 fix: orgCenter permission granted to support
  pkg/erda-configs/permission/front/org/org.yml
Labels: approved

#3403 Fix rpc query
  .erda/migrations/monitor/20211217-sp_metric_expression.sql
  conf/monitor/monitor/chartview/service/translation_analysis_rpc.json
  modules/monitor/apm/topology/topology.go
Labels: approved

#3394 feature: issue manage only show table
  conf/dop/dop.yaml
  go.mod
  go.sum
  modules/dop/component-protocol/components/issue-manage/common/gshelper/helper.go
  modules/dop/component-protocol/components/issue-manage/issueAddButton/render.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/init_filter.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/model.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/model_test.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/render.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/state.go
  modules/dop/component-protocol/components/issue-manage/issueGantt/gantt/gantt.go
  modules/dop/component-protocol/components/issue-manage/issueGantt/init.go
  modules/dop/component-protocol/components/issue-manage/issueGantt/model.go
  modules/dop/component-protocol/components/issue-manage/issueGantt/render.go
  modules/dop/component-protocol/components/issue-manage/issueGantt/render_test.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/issue_kanban.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/render.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/render_test.go
  modules/dop/component-protocol/components/issue-manage/issueTable/render.go
  modules/dop/component-protocol/components/issue-manage/issueViewGroup/model.go
  modules/dop/component-protocol/components/issue-manage/issueViewGroup/render.go
  modules/dop/component-protocol/components/issue-manage/scenario.go
  modules/dop/component-protocol/components/issue-manage/topHead/render.go
  modules/dop/component-protocol/scenarios/issue-manage.yml
Labels: dop, feature

#3392 gc namespace for k8sspark k8sflink
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sflink/flink.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sspark/k8sspark.go
Labels: pipeline, feature, bug, approved

#3404 cp base provider auto register for new cp framework
  modules/openapi/component-protocol/components/base/provider.go
Labels: feature, approved

#3405 feature: issue-gantt support fixed iteration id
  modules/dop/component-protocol/components/issue-gantt/filter/model.go
  modules/dop/component-protocol/components/issue-gantt/filter/render.go
Labels: dop, feature

#3407 feature: optimize service list and service overview
  api/proto-go/go.mod
  api/proto-go/go.sum
  api/proto-go/msp/apm/service/client/client.go
  api/proto-go/msp/apm/service/pb/service.form.pb.go
  api/proto-go/msp/apm/service/pb/service.http.pb.go
  api/proto-go/msp/apm/service/pb/service.pb.go
  api/proto-go/msp/apm/service/pb/service.validator.pb.go
  api/proto-go/msp/apm/service/pb/service_grpc.pb.go
  api/proto/msp/apm/service/service.proto
  cmd/msp/main.go
  conf/msp/i18n/msp-i18n.yaml
  conf/msp/i18n/service-list.yaml
  conf/msp/i18n/service-overview.yaml
  conf/msp/msp.yaml
  conf/openapi/openapi.yaml
  go.mod
  go.sum
  modules/msp/apm/service/apm.service.service.go
  modules/msp/apm/service/components/all.go
  modules/msp/apm/service/components/service-list/provider.go
  modules/msp/apm/service/components/service-overview/provider.go
  modules/msp/apm/service/provider.go
  modules/msp/apm/service/scenarios/service-list.yml
  modules/msp/apm/service/scenarios/service-overview.yml
  modules/msp/apm/service/view/chart/avg_duration.go
  modules/msp/apm/service/view/chart/rps.go
Labels: msp, feature

#3409 issue kanban component set up
  conf/dop/dop.yaml
  conf/openapi/openapi.yaml
  go.mod
  go.sum
  modules/dop/component-protocol/components/all.go
  modules/dop/component-protocol/components/issue-kanban/common/gshelper/helper.go
  modules/dop/component-protocol/components/issue-kanban/content/provider.go
  modules/dop/component-protocol/components/issue-kanban/inputFilter/render.go
  modules/dop/component-protocol/components/issue-kanban/issueExport/render.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/conditions.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/filterset.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/filterset_test.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/in_params.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/options.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/provider.go
  modules/dop/component-protocol/components/issue-kanban/issueImport/render.go
  modules/dop/component-protocol/components/issue-kanban/issueKanbanV2/provider.go
  modules/dop/component-protocol/components/issue-kanban/issueOperations/render.go
  modules/dop/component-protocol/components/issue-kanban/page/render.go
  modules/dop/component-protocol/components/issue-kanban/scenario.go
  modules/dop/component-protocol/components/issue-kanban/toolbar/render.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/init_filter.go
  modules/dop/component-protocol/components/issue-manage/reset/render.go
  modules/dop/component-protocol/components/issue-manage/scenario.go
  modules/dop/component-protocol/scenarios/issue-kanban.yml
  modules/dop/component-protocol/scenarios/issue-manage.yml
Labels: approved

#3410 bugfix: cp base provider creator return new instance
  modules/openapi/component-protocol/components/base/provider.go
Labels: bugfix, approved

#3413 Fix issue request global state get
  modules/dop/component-protocol/components/issue-kanban/common/gshelper/helper.go
  modules/dop/component-protocol/components/issue-manage/common/gshelper/helper.go
  modules/dop/component-protocol/scenarios/issue-manage.yml
Labels: approved

#3412 feature: kanban card extra add iterationID
  modules/dop/component-protocol/components/issue-kanban/common/gshelper/helper.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/conditions.go
  modules/dop/component-protocol/components/issue-kanban/issueKanbanV2/provider.go
Labels: dop, feature

#3415 bugfix: fix the bug that expired es indices not got deleted.
  modules/core/monitor/storekit/elasticsearch/index/cleaner/clean.go
  modules/core/monitor/storekit/elasticsearch/index/cleaner/routes.go
Labels: msp, bugfix, approved

#3334 Feature/project application subscribe
  apistructs/permission.go
  apistructs/subscribe.go
  bundle/subscribe.go
  modules/core-services/conf/conf.go
  modules/core-services/dao/subscribe.go
  modules/core-services/endpoints/endpoints.go
  modules/core-services/endpoints/subscribe.go
  modules/core-services/initialize.go
  modules/core-services/model/subscribe.go
  modules/core-services/services/apierrors/errors.go
  modules/core-services/services/subscribe/subscribe.go
  modules/core-services/services/subscribe/subscribe_test.go
  pkg/erda-configs/permission/backend/sys/org/org.yml
  pkg/erda-configs/permission/backend/sys/org/project/project.yml
Labels: core feature

#3417 feature: optimize quick-start script to use local docker-compose file
  quick-start/quick-start.sh
Labels: documentation

#3418 feature: patch-20210528-spot-dashboard-base.sql
  .erda/migrations/.patches/patch-20210528-spot-dashboard-base.sql
  .erda/migrations/monitor/20210528-spot-dashboard-base.sql
Labels: msp

#3421 Fix issue update, issue kanban order, issue table props
  apistructs/issue.go
  modules/dop/component-protocol/components/issue-kanban/issueFilter/provider.go
  modules/dop/component-protocol/components/issue-kanban/issueKanbanV2/provider.go
  modules/dop/component-protocol/components/issue-manage/issueTable/render.go
Labels: dop, bugfix, approved

#3414 bugfix: Hotfix service list
  go.mod
  go.sum
  modules/monitor/apm/common/common.go
  modules/monitor/apm/topology/topology.go
  modules/msp/apm/service/apm.service.service.go
  modules/msp/apm/service/components/service-list/provider.go
  modules/msp/apm/service/components/service-overview/provider.go
  modules/msp/apm/service/view/chart/avg_duration.go
  modules/msp/apm/service/view/chart/error_rate.go
  modules/msp/apm/service/view/chart/rps.go
  pkg/time/time.go
  pkg/time/time_test.go
Labels: msp, bugfix

#3424 modify the file name of the compressed package
  modules/gittar/auth/auth.go
  modules/gittar/helper/git_cmd.go
  modules/gittar/pkg/gitmodule/repo.go
Labels: gittar

#3428 support store pipeline yml in .erda/pipelines
  bundle/filetree.go
  modules/dop/services/filetree/filetree.go
  modules/dop/services/pipeline/pipeline.go
  modules/openapi/component-protocol/scenarios/app-pipeline-tree/components/fileTree/render.go
  modules/openapi/component-protocol/scenarios/app-pipeline-tree/components/nodeFormModal/render.go
Labels: dop, feature

#3429 If it is a MAC system, skip the global configuration internationalizttion information
  pkg/i18n/helper.go
Labels: bugfix, approved

#3433 Update VERSION
  VERSION
Labels: approved

#3402 check data version when accept from executor done chan
  modules/pipeline/pipengine/actionexecutor/plugins/apitest/apitest.go
  modules/pipeline/pipengine/actionexecutor/plugins/wait/wait.go
  modules/pipeline/pipengine/reconciler/taskrun/taskop/wait.go
  modules/pipeline/pipengine/reconciler/taskrun/taskrun.go
  modules/pipeline/spec/pipeline_task.go
  modules/pipeline/spec/pipeline_task_test.go
Labels: pipeline, bug, approved

#3420 feature: support es later version
  modules/orchestrator/services/addon/addon_deploy.go
  modules/orchestrator/services/addon/addon_deploy_test.go
  modules/orchestrator/services/addon/addon_status.go
  modules/orchestrator/services/addon/middleware.go
  modules/orchestrator/services/addon/middleware_test.go
Labels: orchestrator, feature

#3435 Syntax ${{ outputs.xxx.xxx.wrap_double_quotes }}, add double quotes to the replaced value of the outputs placeholder
  pkg/parser/pipelineyml/visitor_ref_op.go
Labels: approved

#3432 autotest step executor faster
  modules/dop/component-protocol/components/auto-test-scenes/rightPage/fileDetail/fileConfig/scenesConfig/stagesOperations/apiEditorDrawer/apiEditorContainer/apiEditor/render.go
Labels: approved

#3393 auto sync extension by source
  build/dockerfiles/Dockerfile
  conf/dicehub/dicehub.yaml
  modules/dicehub/extension/action.go
  modules/dicehub/extension/provider.go
  modules/dicehub/extension/source.go
  modules/dicehub/extension/source_test.go
Labels: dop, feature

#3441 fix: modify the character set of the table `dice-member` to support emoji
  .erda/migrations/cmdb/20211222-dice-member-character.sql
Labels: dop

#3419 check if an addon that is not a platform exists when the project is deleted
  go.sum
  modules/core-services/services/project/project.go
  modules/core-services/services/project/project_test.go
Labels: dop

#3391 Feature/[workbench] project app overview
  .erda/migrations/core-services/20211220-erda_subscribe_management.sql
  apistructs/application.go
  apistructs/cmp.go
  apistructs/project.go
  apistructs/workbench.go
  bundle/app.go
  bundle/gittar.go
  bundle/msp.go
  bundle/workbench.go
  modules/admin/component-protocol/components/workbench/projectAppList/provider.go
  modules/admin/services/workbench/app.go
  modules/admin/services/workbench/project.go
  modules/admin/services/workbench/workbench.go
  modules/cmp/component-protocol/components/cmp-cluster-list/list/render_test.go
  modules/core-services/conf/conf.go
  modules/core-services/dao/application.go
  modules/core-services/endpoints/application.go
  modules/core-services/endpoints/application_test.go
  modules/core-services/services/application/appliation.go
  modules/dop/endpoints/workbench.go
  modules/orchestrator/services/runtime/runtime_test.go
Labels: admin, core feature

#3444 Feature/admin workbench component list
  apistructs/workbench.go
  go.mod
  go.sum
  modules/admin/component-protocol/components/workbench/projAppList/provider.go
  modules/admin/component-protocol/scenarios/admin-workbench.yml
  modules/admin/component-protocol/types/const.go
  modules/admin/provider.go
Labels: admin

#3447 dockerfile change extension mv command
  build/dockerfiles/Dockerfile
Labels: approved

#3434 feature: enable alert-center menu for msp project
  modules/msp/menu/menu.service.go
Labels: msp, approved

#3446 cron compensate generate new map when create pipeline
  modules/pipeline/services/pipelinesvc/cron_compensate.go
  modules/pipeline/spec/pipeline_cron.go
  modules/pipeline/spec/pipeline_cron_test.go
Labels: pipeline, bug, approved

#3445 feature: apm service optimize
  api/proto-go/msp/apm/service/pb/service.pb.go
  api/proto/msp/apm/service/service.proto
  conf/msp/msp.yaml
  modules/msp/apm/service/apm.service.service.go
  modules/msp/apm/service/components/service-list/provider.go
  modules/msp/apm/service/components/service-overview/provider.go
  modules/msp/apm/service/scenarios/service-list.yml
  modules/msp/apm/service/scenarios/service-overview.yml
  modules/msp/apm/service/view.go
  modules/msp/apm/service/view/chart/avg_duration.go
  modules/msp/apm/service/view/chart/http_code.go
  modules/msp/apm/service/view_test.go
Labels: msp

#3454 bugfix: fix service files missing
  go.sum
  modules/msp/apm/service/components/service-list/grid/provider.go
  modules/msp/apm/service/components/service-list/page/provider.go
  modules/msp/apm/service/components/service-list/scenario.go
  modules/msp/apm/service/components/service-overview/grid/provider.go
  modules/msp/apm/service/components/service-overview/page/provider.go
  modules/msp/apm/service/components/service-overview/scenario.go
Labels: msp, bugfix, approved

#3451 fix: agent tail done flag add force-new-line
  modules/actionagent/callback.go
  modules/actionagent/step_logic.go
Labels: bugfix

#3438 fix: do not create credential when creating defautl consumer
  modules/hepa/services/legacy_consumer/impl/impl.go
Labels: hepa, bugfix, approved

#3459 Cherry pick of: bugfix: fix service files missing #3454
  modules/msp/apm/service/components/service-list/grid/provider.go
  modules/msp/apm/service/components/service-list/page/provider.go
  modules/msp/apm/service/components/service-list/scenario.go
  modules/msp/apm/service/components/service-overview/grid/provider.go
  modules/msp/apm/service/components/service-overview/page/provider.go
  modules/msp/apm/service/components/service-overview/scenario.go
Labels: msp, bugfix

#3457 feature: build support specific DOCKER_PLATFORM, default is linux/amd64
  build/scripts/base_image.sh
  build/scripts/docker_image.sh
Labels: feature, deploy

#3458 modify the url and notify-channel is block
  modules/core-services/services/notify/channel/db/notify_channel.go
  modules/core/monitor/alert/alert-apis/adapt/alert_route.go
Labels: msp

#3460 feature: add slicedIterator for log query
  modules/core/monitor/log/query/log.query.service.go
  modules/core/monitor/log/query/log.query.service_test.go
  modules/core/monitor/storekit/iterator.go
  modules/core/monitor/storekit/iterator_test.go
Labels: msp
