Repository erda-project/erda, pull requests merged in 2021-09, with the labels that each got.

#1618 fix: openapi cp proxy resolve embed unmarshal to show logic error
  go.mod
  modules/openapi/api/apis/openapi/component_protocol/notspec_response.go
Labels: openapi, bugfix, approved

#1622 service name can only be lowercase
  pkg/parser/diceyml/servicename_visitor.go
Labels: approved

#1629 project dashboard add internationalization
  conf/monitor/monitor/chartview/report/bug.json
  conf/monitor/monitor/chartview/report/working.json
Labels: approved

#1615 feature: check if addon exists when project delete
  bundle/addon.go
  modules/core-services/services/project/project.go
  modules/core-services/services/project/project_test.go
Labels: dop, feature, approved

#1626 Fix page size reset to default when filter conditions change
  modules/dop/component-protocol/components/issue-manage/issueTable/render.go
  modules/dop/component-protocol/components/issue-manage/issueTable/render_test.go
Labels: dop, bug, approved

#1627 Manual test plan list and update by new isArchived property
  .erda/migrations/qa/20210830-test-plan-isarchived.sql
  apistructs/audits.go
  apistructs/testplan.go
  modules/dop/dao/testplan.go
  modules/dop/services/testplan/testplan.go
  pkg/erda-configs/audit/template.json
Labels: dop, feature, approved

#1607 feature: remove git inner user
  modules/gittar/auth/auth.go
Labels: feature, approved, gittar

#1547 feature: add log-service addon
  .erda/migrations/msp/20210823-log-service.sql
  cmd/monitor/log-service/main.go
  cmd/msp/main.go
  conf/monitor/extensions/loghub/log-metrics.yaml
  conf/monitor/log-service/log-service.yaml
  conf/msp/msp.yaml
  conf/resources.go
  erda.yml
  modules/extensions/loghub/exporter/output.go
  modules/extensions/loghub/exporter/output_test.go
  modules/extensions/loghub/index/query/clients.go
  modules/extensions/loghub/index/query/db/db.go
  modules/extensions/loghub/index/query/db/log_deployment.go
  modules/extensions/loghub/index/query/db/log_instance.go
  modules/extensions/loghub/index/query/db/log_service_instance.go
  modules/extensions/loghub/metrics/analysis/consumer.go
  modules/msp/apm/log-service/metastore/provider.go
  modules/msp/instance/db/log_deployment.go
  modules/msp/instance/db/log_instance.go
  modules/msp/instance/db/log_service_instance.go
  modules/msp/instance/db/tables.go
  modules/msp/resource/deploy/handlers/handler.go
  modules/msp/resource/deploy/handlers/loganalytics/loganalytics.go
  modules/msp/resource/deploy/handlers/logservice/logservice.go
  modules/msp/resource/deploy/handlers/logservice/provider.go
  modules/msp/resource/utils/es_client.go
  pkg/database/sqlparser/migrator/block_test.go
Labels: msp, feature

#1624 Monitor storage stats
  cmd/monitor/monitor/main.go
  conf/monitor/monitor/monitor.yaml
  go.mod
  go.sum
  modules/monitor/monitoring/log_storage.go
  modules/monitor/monitoring/metric_storage.go
  modules/monitor/monitoring/metric_storage_test.go
  modules/monitor/monitoring/provider.go
  modules/monitor/monitoring/provider_test.go
Labels: approved

#1634 bugfix: fix influx Keyword conflict
  .erda/migrations/monitor/20210901-sp_metric_expression.sql
  modules/msp/apm/trace/trace.service.go
  modules/msp/apm/trace/trace.service_test.go
Labels: msp, bugfix

#1632 support to generate example for application/x-www-form-urlencoded
  bundle/api_asset_operation.go
  bundle/gen_example.go
  bundle/gen_example_test.go
  pkg/http/httputil/mediatype.go
  pkg/swagger/oas3/gen_example.go
  pkg/swagger/oas3/gen_example_test.go
  pkg/swagger/oas3/validate.go
Labels: dop, feature, approved

#1631 feat: add workload detail scenario
  modules/openapi/component-protocol/scenarios/cmp-dashboard-events/components/eventTable/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/podsTable/model.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/podsTable/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/podsTable/render_test.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/podsTableTitle/model.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/podsTableTitle/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadInfo/model.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadInfo/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadInfo/render_test.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadInfoTitle/model.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadInfoTitle/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadStatus/model.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadStatus/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadTitle/model.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/components/workloadTitle/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/protocol.yml
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workload-detail/util.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workloads/components/workloadChart/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workloads/components/workloadTable/render.go
  modules/openapi/component-protocol/scenarios/cmp-dashboard-workloads/util.go
Labels: cmp, feature, approved

#1575 feature: do not query whether there are documents under the branch
  modules/dop/endpoints/apidoc.go
  modules/dop/services/apidocsvc/api_docs.go
  modules/dop/services/apidocsvc/filetree.go
  modules/dop/services/apidocsvc/funcs.go
  modules/dop/services/apidocsvc/ws_handler.go
  modules/dop/services/apidocsvc/ws_upgrade.go
Labels: dop, feature, approved

#1636 optimize: add org flag to log-service index alias
  modules/extensions/loghub/index/query/clients.go
  modules/extensions/loghub/index/query/clients_test.go
  modules/msp/resource/deploy/handlers/loganalytics/loganalytics.go
  modules/msp/resource/deploy/handlers/logservice/logservice.go
  modules/msp/resource/utils/es_client.go
Labels: msp

#1640 optimize: change log-service default replicas
  conf/monitor/extensions/loghub/output/elasticsearch.index.template.json
Labels: msp, approved

#1638 feature: optimize get clusterinfo
  modules/cmp/impl/clusters/clusterinfo.go
Labels: approved

#1591 fix: label node when import cluster which erda inner
  modules/cmp/impl/clusters/import_cluster.go
Labels: approved

#1633 mysql-cli action render
  bundle/addon.go
  modules/openapi/component-protocol/scenarios/action/components/actionForm/mysql-cli.go
  modules/openapi/component-protocol/scenarios/action/components/actionForm/mysql-cli_test.go
  modules/openapi/component-protocol/scenarios/action/components/actionForm/render.go
Labels: dop, feature, approved

#1630 pipeline remove default cron compensator
  pkg/parser/pipelineyml/graph_pipelineyml.go
  pkg/parser/pipelineyml/graph_pipelineyml_test.go
  pkg/parser/pipelineyml/visitor_cron.go
Labels: dop, pipeline, bug, approved

#1594 feature: update the username and password of git-checkout action for safety
  apistructs/member.go
  apistructs/pipeline.go
  bundle/member.go
  modules/core-services/endpoints/endpoints.go
  modules/core-services/endpoints/member.go
  modules/core-services/model/member.go
  modules/core-services/services/apierrors/errors.go
  modules/dop/endpoints/pipeline.go
  modules/dop/services/pipeline/pipeline.go
  modules/dop/utils/generate_name.go
  modules/dop/utils/generate_name_test.go
  modules/pipeline/endpoints/pipeline.go
  modules/pipeline/services/pipelinesvc/run.go
  modules/pipeline/services/pipelinesvc/secret.go
Labels: dop, pipeline, core feature, approved

#1552 Pipeline tasks are only created in the database at runtime
  apistructs/pipeline.go
  modules/openapi/component-protocol/pkg/component_key/key.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/executeTaskTable/render.go
  modules/openapi/component-protocol/scenarios/auto-test-scenes/components/executeTaskTable/render.go
  modules/pipeline/aop/plugins/pipeline/plugins/apitest_report/plugin.go
  modules/pipeline/endpoints/permission.go
  modules/pipeline/endpoints/permission_test.go
  modules/pipeline/initialize.go
  modules/pipeline/pipengine/reconciler/context_cache.go
  modules/pipeline/pipengine/reconciler/context_cache_test.go
  modules/pipeline/pipengine/reconciler/define.go
  modules/pipeline/pipengine/reconciler/reconcile.go
  modules/pipeline/pipengine/reconciler/reconcile_data_process.go
  modules/pipeline/pipengine/reconciler/scheduable.go
  modules/pipeline/pipengine/reconciler/snippet.go
  modules/pipeline/pkg/action_info/passedDataWhenCreate.go
  modules/pipeline/pkg/action_info/passedDataWhenCreate_test.go
  modules/pipeline/services/pipelinesvc/batch_create.go
  modules/pipeline/services/pipelinesvc/cancel.go
  modules/pipeline/services/pipelinesvc/create.go
  modules/pipeline/services/pipelinesvc/create_task.go
  modules/pipeline/services/pipelinesvc/create_task_test.go
  modules/pipeline/services/pipelinesvc/create_test.go
  modules/pipeline/services/pipelinesvc/create_v2.go
  modules/pipeline/services/pipelinesvc/detail.go
  modules/pipeline/services/pipelinesvc/graph.go
  modules/pipeline/services/pipelinesvc/operate.go
  modules/pipeline/services/pipelinesvc/passedDataWhenCreate.go
  modules/pipeline/services/pipelinesvc/pipeline_resources.go
  modules/pipeline/services/pipelinesvc/pipeline_resources_test.go
  modules/pipeline/services/pipelinesvc/precheck.go
  modules/pipeline/services/pipelinesvc/rerun_failed.go
  modules/pipeline/services/pipelinesvc/snippet.go
  modules/pipeline/spec/pipeline_extra.go
Labels: dop, pipeline, feature, core feature, approved

#1642 database gc When the ttl time arrives, you should not care whether it is ns gc
  modules/pipeline/dbclient/op_pipeline_delete.go
  modules/pipeline/dbclient/op_pipeline_delete_test.go
  modules/pipeline/pipengine/reconciler/dbgc.go
  modules/pipeline/pipengine/reconciler/dbgc_test.go
Labels: dop, pipeline, bug, approved

#1637 support openapi dynamic api
  conf/openapi/openapi.yaml
  erda.yml
  go.mod
  go.sum
  modules/core/openapi-ng/auth/auth.go
  modules/core/openapi-ng/auth/uc-session/provider.go
  modules/core/openapi-ng/interceptors/csrf/csrf.go
  modules/core/openapi-ng/interface.go
  modules/core/openapi-ng/provider.go
  modules/core/openapi-ng/proxy/proxy.go
  modules/core/openapi-ng/route.go
  modules/core/openapi-ng/routes/dynamic/manager.go
  modules/core/openapi-ng/routes/dynamic/provider.go
  modules/core/openapi-ng/routes/dynamic/static/proxy.html
  modules/core/openapi-ng/routes/dynamic/static/proxy.js
  modules/core/openapi-ng/routes/dynamic/test.http
  modules/core/openapi-ng/routes/proto/auth.go
  modules/core/openapi-ng/routes/proto/provider.go
  pkg/discover/address.go
Labels: approved

#1628 add docker registry username/password
  apistructs/cluster_info.go
  modules/pipeline/services/pipelinesvc/secret.go
  modules/pipeline/services/pipelinesvc/secret_test.go
Labels: pipeline, feature, approved

#1644 bugfix: fix pspanid=spanid,Cause the recursive stack overflow
  modules/msp/apm/trace/trace.service.go
Labels: approved

#1646 bugfix: span.ParentSpanId = "" when spanid=pspanid
  modules/msp/apm/trace/trace.service.go
Labels: msp, bugfix, approved

#1546 pipeline-aop refactor to provider
  cmd/pipeline/main.go
  conf/pipeline/pipeline.yaml
  modules/pipeline/aop/README.md
  modules/pipeline/aop/aoptypes/tunegroup.go
  modules/pipeline/aop/initialize.go
  modules/pipeline/aop/plugins/all.go
  modules/pipeline/aop/plugins/pipeline/apitest_report/plugin.go
  modules/pipeline/aop/plugins/pipeline/basic/plugin.go
  modules/pipeline/aop/plugins/pipeline/echo/plugin.go
  modules/pipeline/aop/plugins/pipeline/precheck_before_pop/before_run_check.go
  modules/pipeline/aop/plugins/pipeline/precheck_before_pop/before_run_check_test.go
  modules/pipeline/aop/plugins/pipeline/precheck_before_pop/plugin.go
  modules/pipeline/aop/plugins/pipeline/project/plugin.go
  modules/pipeline/aop/plugins/pipeline/queue/queue_check/plugin.go
  modules/pipeline/aop/plugins/pipeline/scene_after/plugin.go
  modules/pipeline/aop/plugins/pipeline/scene_before/plugin.go
  modules/pipeline/aop/plugins/pipeline/tunechain.go
  modules/pipeline/aop/plugins/task/autotest_cookie_keep_after/plugin.go
  modules/pipeline/aop/plugins/task/autotest_cookie_keep_before/plugin.go
  modules/pipeline/aop/plugins/task/echo/plugin.go
  modules/pipeline/aop/plugins/task/tunechain.go
  modules/pipeline/aop/plugins/task/unit_test_report/plugin.go
  modules/pipeline/aop/provider.go
  modules/pipeline/aop/register.go
  modules/pipeline/provider.go
Labels: pipeline, refactor, approved

#1641 support upper layer customize pipeline namespace
  apistructs/job.go
  apistructs/pipeline.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sflink/flink.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sjob/k8sjob.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sspark/k8sspark.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/logic/job.go
  modules/pipeline/services/pipelinesvc/create_task.go
  modules/pipeline/services/pipelinesvc/create_task_test.go
  modules/pipeline/services/pipelinesvc/create_v2.go
  modules/pipeline/services/pipelinesvc/create_v2_test.go
  modules/pipeline/spec/pipeline_extra.go
  modules/pipeline/spec/pipeline_task.go
Labels: pipeline, feature, approved

#1599 add role auditor
  modules/core-services/dao/member.go
  modules/core-services/endpoints/member.go
  modules/core-services/services/member/member.go
  modules/core-services/services/member/member_test.go
  modules/core-services/services/security/handler.go
  modules/core-services/types/types.go
  modules/dop/endpoints/member.go
  pkg/erda-configs/i18n/cmdb.json
  pkg/erda-configs/permission/backend/sys/org/org.yml
  pkg/erda-configs/permission/backend/sys/sys.yml
Labels: dop, feature, approved

#1647 fix(service): replace clusterIP to service domain for service
  modules/scheduler/executor/plugins/k8s/runtime.go
  modules/scheduler/executor/plugins/k8s/runtime_test.go
  modules/scheduler/executor/plugins/k8s/service.go
Labels: orchestrator, bugfix, approved

#1655 add view auditor log permission in org scope
  pkg/erda-configs/permission/front/org/org.yml
Labels: approved

#1651 support aab
  apistructs/release.go
  apistructs/release_test.go
  modules/dicehub/endpoints/publish_item.go
  modules/dicehub/endpoints/publish_item_test.go
Labels: dop, feature, approved

#1649 Support filter by issue custom states, remove deprecated ctxBundle
  apistructs/issue_state.go
  conf/dop/i18n/component-protocol.yaml
  modules/dop/component-protocol/components/issue-manage/issueFilter/init_filter.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/model.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/model_test.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/render.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/state.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/state_conditions.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/issue_kanban.go
  modules/dop/component-protocol/components/issue-manage/issueKanban/render.go
  modules/dop/component-protocol/components/issue-manage/issueViewGroup/render.go
  modules/dop/component-protocol/components/issue-manage/topHead/render.go
  modules/dop/component-protocol/scenarios/issue-manage.yml
  modules/dop/component-protocol/types/const.go
  modules/dop/dao/issue_state.go
  modules/dop/endpoints/endpoints.go
  modules/dop/initialize.go
  modules/dop/services/issuestate/issuestate.go
  modules/dop/services/issuestate/issuestate_test.go
  modules/openapi/api/apis/openapi/component_protocol/notspec_response.go
  modules/openapi/component-protocol/components/filter/filter.go
Labels: dop, feature, approved

#1597 support new Erda image version
  apistructs/extension_test.go
  apistructs/extention.go
Labels: dop, bugfix, approved

#1590 Revert "revert version change temporary (#1583)"
  Makefile
  build/scripts/docker_image.sh
Labels: bugfix, approved

#1548 feature: add etcd distributed lock
  conf/gittar/gittar.yaml
  modules/gittar/api/repo.go
  modules/gittar/auth/auth.go
  modules/gittar/initialize.go
  modules/gittar/models/repo.go
  modules/gittar/pkg/gitmodule/repo.go
  modules/gittar/pkg/gitmodule/repo_edit.go
  modules/gittar/provider.go
  modules/gittar/webcontext/context.go
Labels: feature, approved, gittar

#1660 add cmp cp i18n; modify workloadChart and workloadTitle
  conf/cmp/i18n/component-protocol.yaml
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/eventTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/eventTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTableTitle/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadInfo/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadInfoTitle/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/filter/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTitle/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTitle/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTitle/render_test.go
  modules/cmp/component-protocol/scenarios/cmp-dashboard-workloads-list.yml
Labels: approved

#1662 add entryOrgCenter permission for Auditor
  pkg/erda-configs/permission/front/org/org.yml
Labels: dop, feature, approved

#1586 feature: optimize cluster-agent connect at inner cluster
  modules/cluster-agent/client/client.go
Labels: approved

#1661 feature: remove deprecated interface and soldier
  cmd/soldier/main.go
  conf/soldier/soldier.yaml
  modules/openapi/api/apis/scheduler/scheduler_cluster_info.go
  modules/soldier/auth/auth.go
  modules/soldier/autoop/action.go
  modules/soldier/autoop/collect.go
  modules/soldier/autoop/cron.go
  modules/soldier/autoop/env.go
  modules/soldier/autoop/env_test.go
  modules/soldier/autoop/handler.go
  modules/soldier/autoop/writer.go
  modules/soldier/autoop/writer_test.go
  modules/soldier/client/client.go
  modules/soldier/command/command.go
  modules/soldier/command/dump.go
  modules/soldier/command/terminal.go
  modules/soldier/conf/conf.go
  modules/soldier/health/health.go
  modules/soldier/initialize.go
  modules/soldier/mysql/mysql.go
  modules/soldier/provider.go
  modules/soldier/proxy/proxy.go
  modules/soldier/registry/remove_layers.go
  modules/soldier/registry/remove_manifests.go
  modules/soldier/settings/settings.go
Labels: feature, openapi, approved

#1658 fix(service): replace clusterIP to service domain for service
  modules/scheduler/executor/plugins/k8s/runtime.go
  modules/scheduler/executor/plugins/k8s/runtime_test.go
  modules/scheduler/executor/plugins/k8s/service.go
Labels: orchestrator, bugfix, approved

#1652 pipeline synchronous pipeline definition interface
  .erda/migrations/pipeline/20210903-create-pipeline-definitions.sql
  apistructs/pipeline_yml.go
  apistructs/unified_filetree.go
  cmd/pipeline/main.go
  conf/pipeline/pipeline.yaml
  go.mod
  go.sum
  modules/pipeline/endpoints/pipeline.http
  modules/pipeline/providers/definition/db/client.go
  modules/pipeline/providers/definition/db/define.go
  modules/pipeline/providers/definition/db/op_pipeline_definition.go
  modules/pipeline/providers/definition/definition.service.go
  modules/pipeline/providers/definition/definition.service_test.go
  modules/pipeline/providers/definition/get_version_lock.go
  modules/pipeline/providers/definition/process.go
  modules/pipeline/providers/definition/process_test.go
  modules/pipeline/providers/definition/provider.go
  modules/pipeline/providers/definition/transform_type/process.go
  modules/pipeline/providers/definition/transform_type/process_test.go
  modules/pipeline/providers/definition/transform_type/version.go
  modules/pipeline/services/apierrors/errors.go
Labels: dop, pipeline, feature, core feature, approved

#1666 csrf-interceptor set-cookie if token is invalid
  modules/core/openapi-ng/interceptors/csrf/csrf.go
Labels: feature, openapi

#1673 modify project.yaml
  pkg/erda-configs/permission/backend/sys/org/project/project.yml
  pkg/erda-configs/permission/front/org/project/project.yml
Labels: approved

#1664 update(erda.yml): support cpu bound label
  erda.yml
Labels: msp, feature

#1671 fix create audit
  modules/core-services/endpoints/audit.go
Labels: approved

#1668 sys manager db migration
  .erda/migrations/cmdb/20210902-sys-manager.py
  .erda/migrations/cmdb/requirements.txt
Labels: approved

#1672 get csrf secure from referer firstly; set default http-only to true
  modules/core/openapi-ng/auth/uc-session/login.go
  modules/core/openapi-ng/interceptors/csrf/csrf.go
Labels: openapi, bugfix, approved

#1676 feature:1.2 service translation
  .erda/migrations/monitor/20210902-sp_metric_expression.sql
  modules/monitor/apm/topology/routes.go
  modules/monitor/apm/topology/topology.go
  modules/msp/apm/trace/trace.service.go
Labels: msp, feature, approved

#1635 modify microservice menu
  .erda/migrations/msp/20210901-menu.sql
  apistructs/scope.go
  go.mod
  go.sum
  modules/core-services/endpoints/notify.go
  modules/msp/menu/db/menu.go
  modules/msp/menu/menu.service.go
  modules/msp/menu/menu.service_test.go
  modules/msp/menu/menu_logs_test.go
  modules/msp/menu/menu_register_test.go
Labels: msp, feature, approved

#1659 add msp member module
  bundle/member.go
  bundle/permission.go
  cmd/msp/main.go
  conf/msp/msp.yaml
  go.mod
  go.sum
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadInfo/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadStatus/render_test.go
  modules/core-services/types/types.go
  modules/msp/member/credential_register_test.go
  modules/msp/member/mebmer.service.go
  modules/msp/member/mebmer.service_test.go
  modules/msp/member/provider.go
Labels: msp, feature

#1678 msp accesskey module
  cmd/msp/main.go
  conf/msp/msp.yaml
  go.mod
  go.sum
  modules/msp/credential/credential.service.go
  modules/msp/credential/credential.service_test.go
  modules/msp/credential/credential_ak_test.go
  modules/msp/credential/credential_register_test.go
  modules/msp/credential/provider.go
  modules/openapi/api/apis/msp/apm/adapter/get_adapter_docs.go
  modules/openapi/api/apis/msp/apm/adapter/get_adapters.go
Labels: msp, feature

#1650 add aop autotest-plan-before
  apistructs/pipeline_report.go
  conf/pipeline/pipeline.yaml
  modules/pipeline/aop/plugins/all.go
  modules/pipeline/aop/plugins/pipeline/testplan_before/plugin.go
  modules/pipeline/aop/plugins/pipeline/testplan_before/plugin_test.go
Labels: pipeline, feature

#1677 fix: update erda.yml
  erda.yml
Labels: approved, gittar

#1675 fix update custom addon
  modules/orchestrator/services/addon/addon.go
  modules/orchestrator/services/addon/addon_helper.go
  modules/orchestrator/services/addon/addon_test.go
Labels: dop, bugfix, approved

#1674 optimize: update quick-start used image to v1.2.1
  quick-start/docker-compose.yml
  quick-start/env
  quick-start/quick-start.sh
Labels: approved

#1663 feature: add the User-ID of header for gittar bundle
  apistructs/event.go
  bundle/branch_rule.go
  bundle/gittar.go
  bundle/gittar_path.go
  modules/dop/endpoints/branch_rule.go
  modules/dop/endpoints/filetree.go
  modules/dop/endpoints/pipeline.go
  modules/dop/endpoints/projectpipelinefiletree.go
  modules/dop/endpoints/release.go
  modules/dop/endpoints/snippet.go
  modules/dop/pipeline/pipelineyml/parser.go
  modules/dop/services/apidocsvc/api_docs.go
  modules/dop/services/apidocsvc/filetree.go
  modules/dop/services/apidocsvc/funcs.go
  modules/dop/services/branchrule/branch_rule.go
  modules/dop/services/cq/analyze.go
  modules/dop/services/cq/trigger_mr.go
  modules/dop/services/filetree/filetree.go
  modules/dop/services/pipeline/pipeline.go
  modules/dop/services/projectpipelinefiletree/filetree.go
  modules/gittar/auth/auth.go
  modules/openapi/component-protocol/scenarios/app-pipeline-tree/components/fileTree/render.go
  modules/openapi/component-protocol/scenarios/app-pipeline-tree/components/nodeFormModal/render.go
  modules/orchestrator/endpoints/runtime.go
  modules/orchestrator/services/runtime/runtime.go
Labels: dop, orchestrator, approved, gittar

#1654 Add a sample line in issue import download template
  modules/dop/endpoints/issue.go
  modules/dop/services/i18n/i18n.go
  modules/dop/services/issue/convert.go
  modules/dop/services/issue/convert_test.go
  modules/dop/services/issue/export.go
  pkg/erda-configs/i18n/issue.json
Labels: dop, feature, approved

#1669 Auto test plans supports archive operation
  .erda/migrations/qa/20210903-auto-test-plan-isarchived.sql
  apistructs/audits.go
  apistructs/testplan_v2.go
  modules/dop/dao/testplan_v2.go
  modules/dop/services/autotest_v2/testplan_v2.go
  modules/dop/services/testplan/testplan.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/filter/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/filter/render_test.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/protocol.yml
  pkg/erda-configs/audit/template.json
Labels: dop, feature, approved

#1639 fix repeated contract record
  modules/dop/services/assetsvc/create.go
  pkg/database/sqlparser/migrator/script_test.go
Labels: dop, bugfix, approved

#1682 bugfix: operation for mouse click event
  .erda/migrations/monitor/20210906-sp_metric_expression.sql
  modules/monitor/apm/topology/topology.go
  modules/monitor/apm/topology/topology_test.go
Labels: msp, bugfix

#1687 remove check addon exist when delete project
  modules/core-services/services/project/project.go
  modules/core-services/services/project/project_test.go
Labels: dop, approved

#1688 Rename msp_tenant_id to msp_env_id
  conf/monitor/log-service/log-service.yaml
  modules/extensions/loghub/exporter/output.go
  modules/extensions/loghub/exporter/output_test.go
  modules/extensions/loghub/metrics/analysis/consumer.go
  modules/msp/resource/deploy/handlers/logservice/logservice.go
Labels: monitor-stack, approved

#1617 Feature/pipeline multi instance
  conf/pipeline/pipeline.yaml
  modules/pipeline/endpoints/crond.go
  modules/pipeline/initialize.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/manager.go
  modules/pipeline/pipengine/engine.go
  modules/pipeline/pipengine/reconciler/dbgc.go
  modules/pipeline/pipengine/reconciler/dbgc_test.go
  modules/pipeline/pipengine/reconciler/gc.go
  modules/pipeline/pipengine/reconciler/gc_test.go
  modules/pipeline/pipengine/reconciler/listen.go
  modules/pipeline/pipengine/reconciler/listen_test.go
  modules/pipeline/pipengine/reconciler/pipeline_gc_compensator.go
  modules/pipeline/pipengine/reconciler/pipeline_gc_compensator_test.go
  modules/pipeline/pipengine/reconciler/schedulable_test.go
  modules/pipeline/pipengine/reconciler/snippet_test.go
  modules/pipeline/pipengine/reconciler/throttler.go
  modules/pipeline/pipengine/reconciler/throttler_test.go
  modules/pipeline/pkg/clusterinfo/clusterinfo.go
  modules/pipeline/provider.go
  modules/pipeline/services/crondsvc/crond.go
  modules/pipeline/services/crondsvc/crond_test.go
  modules/pipeline/services/crondsvc/define.go
  modules/pipeline/services/pipelinesvc/clusterinfo.go
  modules/pipeline/services/pipelinesvc/clusterinfo_test.go
  modules/pipeline/services/pipelinesvc/cron.go
  modules/pipeline/services/pipelinesvc/cron_compensate.go
  modules/pipeline/services/pipelinesvc/cron_compensate_test.go
Labels: pipeline, feature, approved

#1691 optimize: quick-start use oss to speed up download
  quick-start/quick-start.sh
Labels: install

#1694 bugfix: db translation and mq translation chart errors
  .erda/migrations/monitor/20210906-0511-sp_metric_expression.sql
  conf/monitor/monitor/i18n/topology.yml
  modules/monitor/apm/topology/topology.go
  modules/monitor/apm/topology/topology_test.go
Labels: bugfix

#1693 Feature/api design
  modules/dop/services/apidocsvc/api_docs.go
  modules/dop/services/apidocsvc/filetree.go
  pkg/database/sqlparser/migrator/script.go
  pkg/swagger/ddlconv/extrator.go
Labels: dop, feature, approved

#1689 bugfix: autotest set-cookie do not overwrite all existed cookie
  modules/core/openapi-ng/interceptors/csrf/csrf.go
  modules/pipeline/aop/plugins/task/autotest_cookie_keep_before/cookie.go
  modules/pipeline/aop/plugins/task/autotest_cookie_keep_before/cookie_test.go
  modules/pipeline/aop/plugins/task/autotest_cookie_keep_before/plugin.go
Labels: pipeline, bugfix, approved

#1680 add autotest-plan-env components
  .erda/migrations/qa/20210906-auto-test-plan-execute.sql
  apistructs/component_protocol.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envBaseInfo/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envBaseInfoTitle/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envDrawer/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envGlobalInfo/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envGlobalTable/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envGlobalText/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envGlobalText/render_test.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envGlobalTitle/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envHeaderInfo/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envHeaderTable/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envHeaderText/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/envHeaderTitle/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/executeInfo/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/executeInfo/render_test.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/protocol.yml
Labels: dop, feature

#1684 show executeTime and passRate in autotest-plan list
  apistructs/testplan_v2.go
  modules/dop/dao/testplan_v2.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/table_test.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/protocol.yml
Labels: dop, feature, approved

#1697 fix autotest-testplan sql
  .erda/migrations/qa/20210906-auto-test-plan-execute.sql
Labels: dop, bugfix, approved

#1701 fix workloads list
  apistructs/cmp_metrics.go
  bundle/metrics.go
  conf/cmp/i18n/component-protocol.yaml
  erda.yml
  go.mod
  go.sum
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/eventTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTableTitle/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadTitle/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render.go
  modules/cmp/endpoints/metrics.go
  modules/cmp/metrics/metrics.go
  modules/cmp/metrics/metrics_test.go
Labels: cmp, feature, approved

#1696 bugfix: fix log-service query fail
  modules/extensions/loghub/index/query/clients.go
  modules/extensions/loghub/index/query/clients_mock_logs_test.go
  modules/extensions/loghub/index/query/clients_test.go
  modules/msp/resource/utils/es_client.go
Labels: msp, bug

#1705 fix BUG: duplicate data in the test plan list and the env of plan is not refreshed
  modules/dop/dao/testplan_v2.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/protocol.yml
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/table_test.go
Labels: dop, bugfix, approved

#1706 Feature/api design
  modules/dop/services/assetsvc/create.go
Labels: approved

#1704 polish: optimize query for translation analysis
  .erda/migrations/monitor/20210906-0511-sp_metric_expression.sql
  .erda/migrations/monitor/20210907-sp_metric_expression.sql
  modules/monitor/apm/topology/topology.go
  modules/monitor/apm/topology/topology_test.go
Labels: msp, approved

#1707 use MAJOR.MINOR as the Erda version to avoid unexpected broken
  Makefile
Labels: approved

#1708 bugfix: for log-service, use tenantGroup as part of es index name
  modules/msp/resource/deploy/handlers/logservice/logservice.go
Labels: msp, bugfix

#1623 erda_access_key compatibility SQL
  .erda/migrations/core-services/20210831-compatibility-erda_access_key.sql
  go.mod
  go.sum
  modules/core/services/authentication/credentials/accesskey/access.key.service.go
  modules/core/services/authentication/credentials/accesskey/access.key.service_test.go
  modules/core/services/authentication/credentials/accesskey/dao.go
  modules/core/services/authentication/credentials/accesskey/dao_test.go
  modules/core/services/authentication/credentials/accesskey/model.go
  modules/msp/credential/credential.service.go
Labels: approved

#1709 fix: modify the error message returned
  modules/gittar/auth/auth.go
Labels: gittar

#1699 change permission of autotest space
  pkg/erda-configs/permission/backend/sys/org/project/project.yml
Labels: dop, approved

#1685 convert config value like input param
  modules/dop/services/autotest_v2/scene.go
Labels: dop, bug, approved

#1692 fix downloda and query ak list query
  .erda/migrations/msp/20210907-menu.sql
  conf/msp/adapter/config.yaml
  modules/msp/credential/credential.service_test.go
  modules/msp/credential/credential_context_test.go
  modules/msp/credential/provider.go
  modules/msp/menu/menu.service.go
  modules/msp/menu/menu.service_test.go
Labels: msp, bugfix

#1710 fix: support user does not have access for pod/exec
  modules/cmp/steve/predefined_resource.go
Labels: approved

#1670 Timed tasks automatically synchronize the extension information of the git address
  conf/dicehub/dicehub.yaml
  modules/dicehub/extension/action.go
  modules/dicehub/extension/provider.go
  modules/dicehub/extension/provider_test.go
Labels: dop, feature, approved

#1700 pipeline definition sync provider
  build/scripts/docker_image.sh
  modules/dop/provider.go
  modules/pipeline/providers/definition_client/deftype/client_process.go
  modules/pipeline/providers/definition_client/provider.go
  modules/pipeline/providers/definition_client/provider_test.go
Labels: dop, pipeline, feature, core feature, approved

#1714 increase pipeline replica
  erda.yml
Labels: approved

#1712 Component protocol new
  conf/cmp/i18n/component-protocol.yaml
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/chart/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cpuChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cpuTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/memChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/memTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/nodeFilter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/podChart/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/podChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/podTable/render.go
  modules/cmp/metrics/metrics.go
Labels: approved

#1713 revert proto refactor temporary to fix delete runtime bug
  cmd/orchestrator/main.go
  conf/orchestrator/orchestrator.yaml
Labels: orchestrator, bugfix, approved

#1715 fix: set localhost in cmp self request
  modules/cmp/provider.go
Labels: approved

#1698 pipeline definition sync provider and gittar yml sync to pipeline
  cmd/dop/main.go
  conf/dop/dop.yaml
  modules/dop/endpoints/autotests.http
  modules/dop/endpoints/endpoints.go
  modules/dop/endpoints/pipeline_definition.go
  modules/dop/initialize.go
  modules/dop/provider.go
  modules/dop/services/apierrors/errors.go
  modules/dop/services/filetree/filetree.go
  modules/dop/services/pipeline/pipeline.go
  modules/dop/services/pipeline/pipeline_test.go
  modules/pipeline/providers/definition_client/provider.go
  modules/pipeline/providers/definition_client/provider_test.go
Labels: dop, feature, approved

#1716 Add complexity column in issue table
  modules/openapi/component-protocol/scenarios/issue-manage/components/issueTable/render.go
Labels: approved

#1717 ak add scope and scopeid
  go.mod
  go.sum
  modules/core/services/authentication/credentials/accesskey/dao.go
  modules/msp/credential/credential.service.go
Labels: msp, bugfix

#1722 refactor testPlan in dop to provider, add aop testplan-after
  bundle/events.go
  cmd/dop/main.go
  conf/dop/dop.yaml
  conf/pipeline/pipeline.yaml
  modules/dop/initialize.go
  modules/dop/provider.go
  modules/dop/providers/autotest/testplan/db/table.go
  modules/dop/providers/autotest/testplan/db/testplan.go
  modules/dop/providers/autotest/testplan/provider.go
  modules/dop/providers/autotest/testplan/register_test.go
  modules/dop/providers/autotest/testplan/register_webhook.go
  modules/dop/providers/autotest/testplan/testplan.service.go
  modules/dop/providers/autotest/testplan/testplan.service_test.go
  modules/pipeline/aop/plugins/all.go
  modules/pipeline/aop/plugins/pipeline/testplan_after/plugin.go
  modules/pipeline/aop/plugins/pipeline/testplan_after/plugin_test.go
  pkg/erda-configs/i18n/notify_item.yml
Labels: dop, feature, approved

#1723 add notify-item sql
  .erda/migrations/cmdb/20210907-add-notify-item.sql
Labels: dop, feature, approved

#1725 target to node detail
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/chart/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
Labels: cmp, bugfix, approved

#1726 add mysql provider in conf dop.yml
  conf/dop/dop.yaml
Labels: approved

#1727 pipeline legacy and infra http server use the same route and port
  conf/pipeline/pipeline.yaml
  modules/pipeline/initialize.go
  modules/pipeline/provider.go
Labels: pipeline, core feature, approved

#1729 fix podslist and podDetail
  conf/cmp/i18n/component-protocol.yaml
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/eventTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/eventTable/render_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/podInfo/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/podInfo/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podDistribution/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podDistribution/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podTitle/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podTitle/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/scenarios/cmp-dashboard-poddetail.yml
  modules/cmp/component-protocol/scenarios/cmp-dashboard-pods.yml
  pkg/jsonstore/etcd/etcd.go
Labels: cmp, bug, approved

#1732 feature: optimization trace query
  conf/msp/i18n/msp-i18n.yaml
  go.mod
  go.sum
  modules/msp/apm/trace/core/common/common.go
  modules/msp/apm/trace/core/debug/debug.go
  modules/msp/apm/trace/core/query/query.go
  modules/msp/apm/trace/core/query/query_test.go
  modules/msp/apm/trace/trace.service.go
  modules/msp/apm/trace/trace.service_test.go
Labels: msp, feature

#1681 Fix/autotest permission check
  modules/dop/endpoints/application_test.go
  modules/dop/endpoints/autotests_space.go
  modules/dop/endpoints/autotests_space_test.go
  modules/openapi/component-protocol/scenarios/auto-test-space-list/components/spaceAddButton/render.go
  modules/openapi/component-protocol/scenarios/auto-test-space-list/components/spaceList/operation.go
  modules/openapi/component-protocol/scenarios/auto-test-space-list/components/spaceList/render.go
  modules/openapi/component-protocol/scenarios/auto-test-space-list/i18n/i18n.go
  pkg/erda-configs/i18n/autotest.json
Labels: bug, openapi, approved

#1733 Fix etcd path
  pkg/jsonstore/etcd/etcd.go
Labels: bug, approved

#1731 Add audit of issue state creation and deletion
  apistructs/audits.go
  modules/dop/endpoints/issue_state.go
  modules/dop/services/testplan/testplan.go
  modules/dop/services/testplan/testplan_test.go
  modules/openapi/api/apis/dop/cmdb_issue_state_delete.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/render.go
Labels: dop, feature, approved

#1735 polish go.mod
  go.mod
Labels: approved, deploy

#1724 update nofity-item in SQL, the field is misspelled
  .erda/migrations/cmdb/20210908-update-notify-item.sql
Labels: dop, feature, approved

#1728 feature: org sync nexus configs only if crossCluster or isPublisher
  modules/dop/services/org/nexus.go
  modules/dop/services/org/nexus_test.go
Labels: dop, feature, approved

#1665 add pipeline trigger syntax and expression
  apistructs/pipeline_yml.go
  modules/pipeline/pipengine/reconciler/taskrun/taskop/prepare.go
  pkg/expression/expression_reconcile.go
  pkg/parser/pipelineyml/define.go
  pkg/parser/pipelineyml/graph_pipelineyml.go
  pkg/parser/pipelineyml/graph_pipelineyml_test.go
  pkg/parser/pipelineyml/pipelineyml.go
  pkg/parser/pipelineyml/samples/trigger.yml
  pkg/parser/pipelineyml/visitor_labels.go
Labels: pipeline, feature, approved

#1736 Modify the type of the executed_time of the autotest-testplan,and fix the bug of taskHistoryTable will panic
  modules/dop/dao/testplan_v2.go
  modules/dop/services/autotest_v2/testplan_v2.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/executeTaskTable/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/executeTaskTable/render_test.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/table_test.go
Labels: approved

#1739 polish: optimization transaction analysis
  .erda/migrations/monitor/20210908-sp_dashboard_block_system.sql
Labels: msp

#1695 feature: updateCmsNsConfigs when pipeline create and cron start
  modules/dop/endpoints/pipeline.go
  modules/dop/endpoints/pipeline_test.go
  modules/dop/endpoints/pipelinecron.go
Labels: dop, pipeline

#1719 add complexity in issue table
  conf/dop/i18n/component-protocol.yaml
  modules/dop/component-protocol/components/issue-manage/issueTable/render.go
  modules/dop/component-protocol/components/issue-manage/issueTable/render_test.go
Labels: approved

#1745 fix: 🐛 cmp dashboard node list
  apistructs/cmp_metrics.go
  conf/monitor/monitor/chartview/cmp/cmp-dashboard-nodeDetail.json
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/common/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/infoDetail/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/infoDetail/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/chart/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/filter/filter.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cpuTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/memTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/nodeFilter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/podTable/render.go
  modules/cmp/component-protocol/scenarios/cmp-dashboard-nodes.yml
  modules/cmp/metrics/metrics.go
Labels: cmp, bugfix, approved

#1683 Workbench data and issue query optimization by issue expiry status
  .erda/migrations/cmdb/20210831-issue-expiry-status.sql
  apistructs/issue.go
  apistructs/project.go
  apistructs/workbench.go
  bundle/project.go
  modules/core-services/endpoints/endpoints.go
  modules/core-services/endpoints/project.go
  modules/dop/conf/conf.go
  modules/dop/dao/issue.go
  modules/dop/endpoints/workbench.go
  modules/dop/initialize.go
  modules/dop/services/issue/issue.go
  modules/dop/services/issue/issue_test.go
  modules/dop/services/workbench/workbench.go
  modules/dop/services/workbench/workbench_test.go
Labels: dop, feature, approved

#1747 fix cmp dashboard i18n dict
  conf/cmp/i18n/component-protocol.yaml
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/infoMapTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/filter/filter.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cpuTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/memTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/podTable/render.go
Labels: cmp, feature, approved

#1748 change hepa health check
  erda.yml
Labels: hepa, bugfix, approved

#1749 change action-runner-scheduler service name
  modules/action-runner-scheduler/provider.go
Labels: approved

#1750 feature: openapi conditions
  modules/openapi/api/apis/msp/apm/trace/get_trace_conditions_list.go
Labels: msp, feature, approved

#1751 fix: error install link
  README.md
Labels: approved

#1737 fix: cluster init error when use old version
  build/dockerfiles/Dockerfile-cluster-ops
  pkg/helm/manager.go
Labels: approved

#1752 fix: readme 1.2 link error
  README.md
Labels: approved

#1742 add pipeline trigger provider
  .erda/migrations/pipeline/20210908-create-pipeline-triggers.sql
  cmd/pipeline/main.go
  conf/pipeline/pipeline.yaml
  modules/pipeline/initialize.go
  modules/pipeline/provider.go
  modules/pipeline/providers/trigger/db/op.go
  modules/pipeline/providers/trigger/db/op_test.go
  modules/pipeline/providers/trigger/db/table.go
  modules/pipeline/providers/trigger/provider.go
  modules/pipeline/providers/trigger/trigger.service.go
  modules/pipeline/providers/trigger/trigger.service_test.go
Labels: pipeline, feature, approved

#1755 bugfix:fix span query oom
  modules/msp/apm/trace/trace.service.go
Labels: msp, bugfix, approved

#1740 fix the problem of panic when clicking the execution details when there is no execution data
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/cancelExecuteButton/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/cancelExecuteButton/render_test.go
Labels: pipeline, openapi, bugfix, approved

#1746 update table component passRate filed type to string
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-list/components/table/table_test.go
Labels: dop, feature, approved

#1734 dop merge routing(legacy http port and new http port)
  conf/dop/dop.yaml
  conf/openapi/openapi.yaml
  erda.yml
  modules/dop/initialize.go
  modules/dop/provider.go
  modules/dop/providers/autotest/testplan/provider.go
  modules/dop/providers/autotest/testplan/register_test.go
  modules/dop/providers/autotest/testplan/register_webhook.go
Labels: dop, feature, approved

#1757 fix some bugs
  go.mod
  go.sum
  modules/hepa/common/log_helper.go
  modules/hepa/common/vars/vars.go
  modules/hepa/gateway/dto/open_limit_rule_dto.go
  modules/hepa/kong/dto/kong_credential_resp_dto.go
  modules/hepa/providers/domain/provider.go
  modules/hepa/providers/micro_api/provider.go
  modules/hepa/providers/micro_api/service.go
  modules/hepa/providers/org_client/provider.go
  modules/hepa/providers/runtime_service/provider.go
  modules/hepa/services/api_policy/impl/impl.go
  modules/hepa/services/micro_api/impl/impl.go
  modules/hepa/services/openapi_rule/impl/impl.go
  modules/monitor/common/permission/permission.go
Labels: hepa, bugfix, approved

#1756 feature: update dingding message of autotest testplan execution
  modules/dop/providers/autotest/testplan/testplan.service.go
  modules/dop/providers/autotest/testplan/testplan.service_test.go
  modules/pipeline/aop/plugins/pipeline/testplan_after/plugin.go
  pkg/erda-configs/i18n/notify_item.yml
Labels: dop, feature

#1758 Fix test cp
  conf/cmp/i18n/component-protocol.yaml
  conf/monitor/monitor/chartview/cmp/pod-detail.json
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/eventTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/filter/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-events-list/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/containerTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/containerTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/eventTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/eventTitle/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/podInfo/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/podStatus/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/filter/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podDistribution/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadStatus/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/filter/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/filter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadChart/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workloads-list/workloadTable/render.go
Labels: cmp, bugfix, approved

#1759 fix: 🐛 nodes list page of cmp dashboard
  conf/cmp/i18n/component-protocol.yaml
  conf/monitor/monitor/chartview/cmp/cmp-dashboard-nodeDetail.json
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/addLabelModal/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/addLabelModal/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/chart/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/filter/filter.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cpuTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/memTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/nodeFilter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/podTable/render.go
  modules/cmp/metrics/metrics.go
Labels: cmp, bugfix, approved

#1762 Fix bug: DOP pod failed to start
  erda.yml
Labels: dop, bugfix, approved

#1753 Add issue filter bookmark
  .erda/migrations/cmdb/20210906-issue-filter.sql
  conf/dop/i18n/component-protocol.yaml
  modules/dop/component-protocol/components/issue-manage/issueFilter/init_filter.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/model.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/render.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/render_test.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/state.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/state_conditions.go
  modules/dop/component-protocol/components/issue-manage/issueFilter/state_conditions_test.go
  modules/dop/component-protocol/types/const.go
  modules/dop/conf/conf.go
  modules/dop/dao/issue_filter_bookmark.go
  modules/dop/initialize.go
  modules/dop/services/issuefilterbm/issue_filter_bookmark.go
  modules/dop/services/issuefilterbm/issue_filter_bookmark_test.go
  modules/openapi/component-protocol/components/base/provider.go
  modules/openapi/component-protocol/components/filter/filter.go
Labels: approved

#1763 fix hepa proto issue
  go.mod
  go.sum
  modules/hepa/providers/runtime_service/runtime.service.go
Labels: approved

#1743 feature: log-query, filter indices by index-meta
  modules/extensions/loghub/index/query/clients.go
  modules/extensions/loghub/index/query/clients_test.go
  modules/extensions/loghub/index/query/db/log_deployment.go
  modules/extensions/loghub/index/query/index.go
  modules/extensions/loghub/index/query/log_query.go
  modules/extensions/loghub/index/query/log_query_v1.go
  modules/extensions/loghub/index/query/log_query_v2.go
  modules/extensions/loghub/index/query/provider.go
  modules/extensions/loghub/index/query/routes.go
Labels: msp

#1768 fix: add env for test ci
  .github/workflows/ci-it.yml
Labels: bugfix, approved

#1769 optimize: log-query index-preload enabled by default
  modules/extensions/loghub/index/query/provider.go
Labels: msp, approved

#1765 Feature/apim
  bundle/hepa.go
  modules/dop/dbclient/dbclient.go
  modules/dop/endpoints/attempt.go
  modules/dop/initialize.go
  modules/dop/services/assetsvc/bdl.go
  modules/dop/services/assetsvc/create.go
  modules/dop/services/assetsvc/delete.go
  modules/dop/services/assetsvc/get.go
  modules/dop/services/assetsvc/list.go
  modules/dop/services/assetsvc/update.go
  pkg/swagger/ddlconv/extrator_test.go
Labels: dop, bugfix, approved

#1770 Update monitor resource
  erda.yml
Labels: monitor-stack, approved

#1766 feature: change log-service default replicas to 0.
  erda.yml
Labels: msp, approved

#1773 fix pods list and pod detail
  bundle/steve.go
  bundle/steve_node.go
  conf/monitor/monitor/chartview/cmp/cmp-dashboard-podDetail.json
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/containerTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/containerTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/podStatus/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/podStatus/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podDistribution/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadStatus/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/workloadStatus/render.go
  modules/cmp/component-protocol/scenarios/cmp-dashboard-poddetail.yml
  modules/cmp/component-protocol/scenarios/cmp-dashboard-workload-detail.yml
Labels: approved

#1775 Fix bad encrypt value of custom addon
  modules/orchestrator/services/addon/addon.go
  modules/orchestrator/services/addon/addon_helper.go
  modules/orchestrator/services/addon/addon_test.go
Labels: bugfix, deploy

#1778 update pod status color; display N/A when pod metrics less than 1e-4
  modules/cmp/component-protocol/components/cmp-dashboard-podDetail/podStatus/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-workload-detail/podsTable/render.go
Labels: cmp, bugfix, approved

#1779 fix: 🐛 fix some bug
  conf/cmp/cmp.yaml
  conf/cmp/i18n/component-protocol.yaml
  conf/monitor/monitor/chartview/cmp/cmp-dashboard-nodeDetail.json
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/addLabelModal/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/addLabelModal/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodeDetail/infoDetail/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/addLabelModal/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/addLabelModal/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cleanData/model.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cleanData/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/filter/filter.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/common/table/table_test.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/cpuTable/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/nodeFilter/render.go
  modules/cmp/component-protocol/components/cmp-dashboard-nodes/scenario.go
  modules/cmp/component-protocol/scenarios/cmp-dashboard-nodedetail.yml
  modules/cmp/component-protocol/scenarios/cmp-dashboard-nodes.yml
  modules/cmp/endpoints/metrics.go
  modules/cmp/metrics/metrics.go
Labels: cmp, bugfix, approved

#1777 Hotfix/pipeline support multi containers monitor
  apistructs/job.go
  apistructs/pipeline_task.go
  go.mod
  go.sum
  modules/dop/endpoints/cicd.go
  modules/pipeline/endpoints/healthcheck.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sflink/util.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/executor/plugins/k8sjob/k8sjob.go
  modules/pipeline/pipengine/actionexecutor/plugins/scheduler/logic/job.go
  modules/pipeline/pipengine/reconciler/taskrun/taskop/prepare.go
  modules/pipeline/pkg/containers/task_container.go
  modules/pipeline/pkg/containers/task_container_test.go
  modules/pipeline/spec/pipeline_task.go
Labels: approved

#1761 fix: fix replicas error and cmp resource.
  erda.yml
Labels: approved

#1782 add cmp k8s patch api
  modules/openapi/api/apis/cmp/cmp_k8s_patch.go
Labels: cmp, bugfix, approved

#1760 fix: fix replicas( cmp,scheudler,cluster-manager,hepa)
  erda.yml
Labels: hepa, orchestrator, cluster-manager, bugfix, approved

#1783 Fix query issue by not deleted
  modules/dop/dao/issue.go
Labels: dop, bugfix, approved

#1741 fix: update pipeline cms according to pipeline cron which enable is true
  apistructs/pipeline_cron.go
  bundle/pipeline.go
  conf/dop/dop.yaml
  go.mod
  go.sum
  modules/dop/endpoints/pipeline.go
  modules/dop/endpoints/pipeline_test.go
  modules/dop/endpoints/pipelinecron.go
  modules/dop/initialize.go
  modules/dop/initialize_test.go
  modules/dop/provider.go
  modules/pipeline/dbclient/op_pipeline_cron.go
  modules/pipeline/services/pipelinecronsvc/define.go
  modules/pipeline/spec/pipeline_cron.go
Labels: dop, pipeline, approved

#1781 automated test step execution optimization
  modules/dop/services/autotest_v2/scene.go
Labels: dop, feature, approved

#1785 roll back the render function of mysql-cli
  modules/openapi/component-protocol/scenarios/action/components/actionForm/render.go
Labels: approved
