Repository erda-project/erda, pull requests merged in 2022-04, with the labels that each got.

#4525 fix(cp-person): change target of app runtime
  modules/admin/component-protocol/components/personal-workbench/workCards/provider.go
Labels: bugfix

#4527 fix(cp-person): add target param
  modules/admin/component-protocol/components/personal-workbench/workCards/provider.go
Labels: bugfix

#4523 fix(dop): .erda/ pipelines and The pipeline yml in the .dice/pipelines folder supports on push events
  bundle/filetree.go
  modules/dop/endpoints/pipeline.go
  modules/dop/endpoints/release.go
  modules/dop/endpoints/release_test.go
Labels: approved

#4528 feat: Requirement task overview in fixed iteration
  modules/dop/component-protocol/components/issue-dashboard/filter/model.go
  modules/dop/component-protocol/components/issue-dashboard/filter/render.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/model.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/render.go
  modules/openapi/component-protocol/components/filter/filter.go
Labels: feature, approved

#4535 feat: add erda test env resource values
  erda.yml
Labels: feature

#4531 feat: Optimized the domain name list management permission prompt on CMP
  modules/hepa/cache/org/org.go
  modules/hepa/cache/org/org_test.go
  modules/hepa/gateway/dto/manage_domain_info.go
  modules/hepa/providers/domain/domain.service.go
  modules/hepa/services/domain/impl/impl.go
Labels: hepa, feature

#4536 fix(pipeline): Solve the deadlock problem in multi-transaction
  modules/pipeline/providers/cms/db/op.go
Labels: pipeline, bugfix, approved

#4538 fix: select default mode if no mode provide in request
  modules/dop/component-protocol/components/release-manage/releaseTable/render.go
  modules/orchestrator/services/deployment_order/deployment_order_create.go
Labels: bugfix

#4526 fix: change flink fourth level domain to three
  go.mod
  go.sum
  modules/pipeline/pipengine/actionexecutor/logic/status.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sflink/flink.go
Labels: bugfix, approved

#4541 feat: Implement of log query on clickhouse
  .licenserc.json
  cmd/monitor/monitor/main.go
  conf/monitor/monitor/monitor.yaml
  conf/msp/msp.yaml
  go.mod
  go.sum
  modules/core/monitor/log/query/log.query.service.go
  modules/core/monitor/log/query/provider.go
  modules/core/monitor/log/storage/clickhouse/aggregate.go
  modules/core/monitor/log/storage/clickhouse/aggregate_test.go
  modules/core/monitor/log/storage/clickhouse/iterator.go
  modules/core/monitor/log/storage/clickhouse/provider.go
  modules/core/monitor/log/storage/clickhouse/query_parser/EsQueryString.g4
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/EsQueryString.interp
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/EsQueryString.tokens
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/EsQueryStringLexer.interp
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/EsQueryStringLexer.tokens
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/esquerystring_base_listener.go
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/esquerystring_lexer.go
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/esquerystring_listener.go
  modules/core/monitor/log/storage/clickhouse/query_parser/parser/esquerystring_parser.go
  modules/core/monitor/log/storage/clickhouse/query_parser/query_parser.go
  modules/core/monitor/log/storage/clickhouse/query_parser/query_parser_test.go
  modules/core/monitor/log/storage/clickhouse/sql_builder.go
  modules/core/monitor/log/storage/clickhouse/sql_builder_test.go
  modules/core/monitor/log/storage/clickhouse/writer.go
  modules/core/monitor/log/storage/storage.go
  modules/core/monitor/storekit/clickhouse/table/creator/creator.go
  modules/core/monitor/storekit/clickhouse/table/loader/interface.go
  modules/core/monitor/storekit/clickhouse/table/loader/provider.go
  modules/core/monitor/storekit/clickhouse/table/loader/table_loader.go
  modules/core/monitor/storekit/elasticsearch/iterator.go
  modules/msp/apm/log-service/query/utils.go
Labels: msp, feature, core feature

#4546 fix: i18n error fix
  conf/monitor/monitor/metricmeta/i18n/_group.yml
Labels: msp, bugfix, approved

#4543 feat(pipeline): remove dice.yml check in pipeline
  modules/dop/services/pipeline/pipeline.go
  modules/dop/utils/diceyml.go
  modules/pipeline/precheck/checkers/diceymlchecker/diceyml.go
  modules/pipeline/precheck/precheck.go
  modules/pipeline/services/pipelinesvc/precheck.go
  modules/pipeline/services/pipelinesvc/precheck_test.go
Labels: pipeline, feature, approved

#4305 feat: Migrate notification channels from core-services to messenger module
  api/proto-go/all.go
  api/proto-go/core/messenger/notifychannel/client/client.go
  api/proto-go/core/messenger/notifychannel/client/provider.go
  api/proto-go/core/messenger/notifychannel/pb/channel.form.pb.go
  api/proto-go/core/messenger/notifychannel/pb/channel.http.pb.go
  api/proto-go/core/messenger/notifychannel/pb/channel.json.pb.go
  api/proto-go/core/messenger/notifychannel/pb/channel.pb.go
  api/proto-go/core/messenger/notifychannel/pb/channel.validator.pb.go
  api/proto-go/core/messenger/notifychannel/pb/channel_grpc.pb.go
  api/proto-go/core/messenger/notifychannel/pb/register.services.pb.go
  api/proto/core/messenger/notifychannel/channel.proto
  cmd/core-services/main.go
  conf/core-services/core-services.yaml
  modules/messenger/notify-channel/channel.service.go
  modules/messenger/notify-channel/channel.service_test.go
  modules/messenger/notify-channel/db/notify_channel.go
  modules/messenger/notify-channel/kind/aliyun_sms.go
  modules/messenger/notify-channel/kind/aliyun_sms_test.go
  modules/messenger/notify-channel/kind/aliyun_vms.go
  modules/messenger/notify-channel/kind/dingtalk_work_notice.go
  modules/messenger/notify-channel/kind/dingtalk_work_notice_test.go
  modules/messenger/notify-channel/kind/email.go
  modules/messenger/notify-channel/kind/interface.go
  modules/messenger/notify-channel/provider.go
Labels: msp, feature, core feature, approved

#4547 feat(pipeline): remove Copyright in proto-go
  api/proto-go/all.go
  api/proto-go/dop/cms/client/client.go
  api/proto-go/dop/cms/client/provider.go
  api/proto-go/dop/cms/pb/cicdcms.form.pb.go
  api/proto-go/dop/cms/pb/cicdcms.http.pb.go
  api/proto-go/dop/cms/pb/cicdcms.json.pb.go
  api/proto-go/dop/cms/pb/cicdcms.pb.go
  api/proto-go/dop/cms/pb/cicdcms.validator.pb.go
  api/proto-go/dop/cms/pb/cicdcms_grpc.pb.go
  api/proto-go/dop/cms/pb/register.services.pb.go
Labels: pipeline, feature, approved

#4533 feat(dop,pipeline): Decoupling gittar from pipeline
  api/proto-go/core/pipeline/base/pb/base.pb.go
  api/proto-go/core/pipeline/base/pb/base.validator.pb.go
  api/proto-go/core/pipeline/cron/pb/cron.pb.go
  api/proto-go/core/pipeline/cron/pb/cron.validator.pb.go
  api/proto-go/core/pipeline/pb/cron_pub.pb.go
  api/proto-go/core/pipeline/pb/cron_pub.validator.pb.go
  api/proto/core/pipeline/base/base.proto
  api/proto/core/pipeline/cron/cron.proto
  api/proto/core/pipeline/cron_pub.proto
  apistructs/pipeline.go
  apistructs/pipeline_cron.go
  bundle/pipeline.go
  modules/dop/conf/conf.go
  modules/dop/endpoints/pipeline.go
  modules/dop/providers/projectpipeline/service_impl.go
  modules/dop/services/pipeline/pipeline.go
  modules/dop/utils/generate_name.go
  modules/dop/utils/gittar.go
  modules/pipeline/endpoints/pipeline.go
  modules/pipeline/providers/cron/compensator/provider.go
  modules/pipeline/providers/cron/cron.service.go
  modules/pipeline/providers/cron/daemon/cron_task.go
  modules/pipeline/providers/cron/db/define.go
  modules/pipeline/services/pipelinesvc/batch_create.go
  modules/pipeline/services/pipelinesvc/create_v2.go
  modules/pipeline/services/pipelinesvc/rerun.go
  modules/pipeline/services/pipelinesvc/rerun_failed.go
  modules/pipeline/services/pipelinesvc/run.go
  modules/pipeline/services/pipelinesvc/secret.go
  modules/pipeline/spec/pipeline_cron.go
  modules/pipeline/spec/pipeline_extra.go
Labels: dop, pipeline, feature, approved

#4549 fix: id order should same with the timestamp order
  modules/core/monitor/log/storage/clickhouse/iterator.go
Labels: msp, bugfix

#4550 fix: remove runtime status event send for edas executor
  modules/orchestrator/scheduler/executor/plugins/edas/edas.go
  modules/orchestrator/services/runtime/runtime.go
Labels: bugfix, approved

#4551 fix: add get release debug logs
  modules/dicehub/release/release.service.go
Labels: bugfix

#4530 feat(dop): Add cron expression to pipeline YML file to automatically create cron records
  modules/dop/services/pipeline/pipeline.go
  modules/pipeline/services/pipelinesvc/create_v2.go
Labels: dop, feature, approved

#4553 fix: modify sms templateCode
  modules/eventbox/subscriber/sms/sms.go
Labels: bugfix, approved

#4554 fix: modify sms templateCode
  modules/messenger/eventbox/subscriber/sms/sms.go
Labels: bugfix, approved

#4517 feat(pipeline): Change the compensation policy not executed by cron
  modules/pipeline/dbclient/op_pipeline.go
  modules/pipeline/dbclient/op_pipeline_report.go
  modules/pipeline/providers/cron/compensator/provider.go
  modules/pipeline/providers/dbgc/dbgc.go
  modules/pipeline/providers/dbgc/dbgc_test.go
  modules/pipeline/providers/reconciler/taskpolicy/provider.go
  modules/pipeline/providers/resourcegc/compensator.go
  modules/pipeline/providers/resourcegc/compensator_test.go
  modules/pipeline/services/pipelinesvc/list.go
Labels: pipeline, feature, approved

#4556 fix: ck related bugfix
  modules/core/monitor/log/storage/clickhouse/query_parser/query_parser.go
  modules/core/monitor/log/storage/clickhouse/sql_builder.go
  modules/core/monitor/log/storage/clickhouse/utils/utils.go
  modules/core/monitor/storekit/clickhouse/table/creator/creator.go
  modules/core/monitor/storekit/clickhouse/table/loader/interface.go
Labels: msp, bugfix, approved

#4522 feat: Issue update by requirement iteration and label change
  api/proto-go/all.go
  api/proto-go/dop/issue/sync/client/client.go
  api/proto-go/dop/issue/sync/client/provider.go
  api/proto-go/dop/issue/sync/pb/register.services.pb.go
  api/proto-go/dop/issue/sync/pb/sync.form.pb.go
  api/proto-go/dop/issue/sync/pb/sync.http.pb.go
  api/proto-go/dop/issue/sync/pb/sync.json.pb.go
  api/proto-go/dop/issue/sync/pb/sync.pb.go
  api/proto-go/dop/issue/sync/pb/sync.validator.pb.go
  api/proto-go/dop/issue/sync/pb/sync_grpc.pb.go
  api/proto/dop/issue/sync/sync.proto
  apistructs/issue.go
  apistructs/issue_stream_locale.go
  cmd/dop/main.go
  conf/dop/dop.yaml
  conf/dop/i18n/issue-manage.yaml
  modules/dop/dao/label_relation.go
  modules/dop/endpoints/issue.go
  modules/dop/initialize.go
  modules/dop/provider.go
  modules/dop/providers/issue/sync/provider.go
  modules/dop/providers/issue/sync/service.go
  modules/dop/services/issue/issue.go
  modules/dop/services/issue/issue_stream.go
  modules/dop/services/issue/issue_stream_test.go
  modules/dop/services/issue/label.go
  modules/dop/services/issuerelated/issue_related.go
  modules/dop/services/issuestream/issue_stream.go
  modules/dop/services/issuestream/issue_stream_template.go
  modules/dop/services/issuestream/issue_stream_template_test.go
  modules/dop/services/issuestream/issue_stream_test.go
Labels: feature, approved

#4552 feat(dop): Update the calculation method of ideal line of burnChart
  conf/dop/i18n/cp/scenarios/requirement-task-overview.yaml
  go.sum
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChart/model.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChart/render.go
  modules/dop/component-protocol/components/requirement-task-overview/chartBlock/burnoutChart/render_test.go
  modules/dop/component-protocol/scenarios/requirement-task-overview.yml
Labels: dop, feature, approved

#4557 fix(dop): app cannot be continuously integrated
  modules/dop/endpoints/release.go
Labels: dop, bugfix, approved

#4559 fix: modify monitor notify channel import
  api/proto-go/core/services/notify/channel/client/client.go
  api/proto-go/core/services/notify/channel/client/provider.go
  api/proto-go/core/services/notify/channel/pb/channel.form.pb.go
  api/proto-go/core/services/notify/channel/pb/channel.http.pb.go
  api/proto-go/core/services/notify/channel/pb/channel.json.pb.go
  api/proto-go/core/services/notify/channel/pb/channel.pb.go
  api/proto-go/core/services/notify/channel/pb/channel.validator.pb.go
  api/proto-go/core/services/notify/channel/pb/channel_grpc.pb.go
  api/proto-go/core/services/notify/channel/pb/register.services.pb.go
  cmd/monitor/monitor/main.go
  conf/monitor/monitor/monitor.yaml
  modules/core/monitor/alert/alert-apis/alert.service.go
  modules/core/monitor/alert/alert-apis/provider.go
Labels: bugfix, approved

#4558 feat: Update issue sync api path
  api/proto-go/dop/issue/sync/pb/sync.http.pb.go
  api/proto-go/dop/issue/sync/pb/sync.pb.go
  api/proto/dop/issue/sync/sync.proto
Labels: feature

#4560 fix: fix compatible with es and ck
  conf/monitor/monitor/monitor.yaml
  modules/core/monitor/log/storage/clickhouse/aggregate.go
  modules/core/monitor/log/storage/elasticsearch/aggregate.go
  modules/extensions/loghub/index/query/log_query.go
  modules/msp/apm/log-service/query/log.service.histogram.go
  modules/msp/apm/log-service/query/log.service.search.go
  modules/msp/apm/log-service/query/log.service.terms.go
Labels: msp, bugfix, approved

#4562 feat: Update requirement progress format in issue table
  modules/dop/component-protocol/components/issue-manage/issueTable/render.go
Labels: feature, approved

#4512 feat(dop): project pipeline add run/rerun/rerun-failed/cancel public api
  api/proto-go/dop/projectpipeline/client/client.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.form.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.http.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.json.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.validator.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline_grpc.pb.go
  api/proto/dop/projectpipeline/projectpipeline.proto
  modules/dop/component-protocol/components/project-pipeline/myPage/tabsTable/pipelineTable/provider.go
  modules/dop/endpoints/autotests.http
  modules/dop/providers/projectpipeline/deftype/cancel.go
  modules/dop/providers/projectpipeline/deftype/fail_rerun.go
  modules/dop/providers/projectpipeline/deftype/rerun.go
  modules/dop/providers/projectpipeline/deftype/run.go
  modules/dop/providers/projectpipeline/service.go
  modules/dop/providers/projectpipeline/service_impl.go
Labels: dop, feature, approved

#4565 fix: Fix sync issue children with planning iteration id
  modules/dop/services/issue/issue.go
Labels: bugfix

#4563 fix: do not check modes when update applicaiton release
  modules/dicehub/release/provider.go
Labels: bugfix

#4568 fix(pipeline): The pipeline graph interface displays the croncontroller field
  apistructs/pipeline_yml.go
  pkg/parser/pipelineyml/graph_pipelineyml.go
Labels: pipeline, bugfix, approved

#4567 feat(pipeline): add mysql stats to pipeline
  modules/pipeline/endpoints/endpoints.go
  modules/pipeline/endpoints/mysql.go
  modules/pipeline/initialize.go
  modules/pipeline/provider.go
Labels: pipeline, feature, approved

#4569 fix(dop): PipelineCategory list include all app
  modules/dop/providers/projectpipeline/service_impl.go
Labels: dop, bugfix, approved

#4566 fix: not return tags field if not necessary
  conf/monitor/streaming/clickhouse/logs_ddl_create_default_tables.sql
  conf/monitor/streaming/clickhouse/logs_ddl_create_tenant_tables.sql
  modules/core/monitor/log/query/log.query.service.go
  modules/core/monitor/log/query/log.query.service_test.go
  modules/core/monitor/log/storage/clickhouse/iterator.go
  modules/core/monitor/log/storage/storage.go
Labels: msp, bugfix, approved

#4564 fix: cluster-agent goroutine leak
  modules/cluster-agent/client/client.go
  modules/cluster-agent/client/credential.go
  modules/cluster-agent/provider.go
  modules/cluster-dialer/server/dialer_test.go
  modules/cluster-dialer/server/tunnel-server_test.go
Labels: cluster-manager, bugfix

#4570 fix(pipeline): Fix the problem that the cron compensates that the action of git-checkout cannot get the git information
  modules/pipeline/providers/cron/compensator/provider.go
Labels: pipeline, bugfix, approved

#4573 fix(dop): solve the problem of git author env
  modules/dop/utils/generate_name.go
Labels: dop, pipeline, bugfix, approved

#4544 feat: custom dashboard import and export
  .erda/migrations/monitor/20220401-01-erda_dashboard_history.sql
  api/proto-go/core/monitor/dataview/client/client.go
  api/proto-go/core/monitor/dataview/pb/dataview.form.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.http.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.json.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.validator.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview_grpc.pb.go
  api/proto/core/monitor/dataview/dataview.proto
  modules/core/monitor/dataview/dashboard_file.go
  modules/core/monitor/dataview/dashboard_file_test.go
  modules/core/monitor/dataview/data.view.service.go
  modules/core/monitor/dataview/data.view.service_test.go
  modules/core/monitor/dataview/db/db.go
  modules/core/monitor/dataview/db/tables.go
  modules/core/monitor/dataview/provider.go
  modules/openapi/api/apis/monitor/monitor_dashboard_export.go
  modules/openapi/api/apis/monitor/monitor_dashboard_import.go
  modules/openapi/api/apis/monitor/monitor_dashboard_parse.go
  pkg/database/gormutil/gorm.go
Labels: monitor-stack, feature, approved

#4580 fix(pipeline): cron compensation executes pipeline adding run user id
  modules/pipeline/providers/cron/compensator/provider.go
Labels: pipeline, bugfix, approved

#4572 fix(pipeline): When creating a definition, a cron info is created asynchronously
  modules/dop/providers/projectpipeline/provider.go
  modules/dop/providers/projectpipeline/service.go
  modules/dop/providers/projectpipeline/service_impl.go
Labels: pipeline, bugfix, approved

#4581 feat: support rendor erda env to job
  modules/orchestrator/scheduler/executor/plugins/k8s/deployment.go
  modules/orchestrator/scheduler/executor/plugins/k8s/deployment_test.go
  modules/orchestrator/scheduler/executor/plugins/k8s/job.go
Labels: feature

#4545 feat: release tag
  .erda/migrations/cmdb/20220331-label-relation.sql
  api/proto-go/core/dicehub/release/pb/release.form.pb.go
  api/proto-go/core/dicehub/release/pb/release.http.pb.go
  api/proto-go/core/dicehub/release/pb/release.json.pb.go
  api/proto-go/core/dicehub/release/pb/release.pb.go
  api/proto-go/core/dicehub/release/pb/release.validator.pb.go
  api/proto/core/dicehub/release/release.proto
  apistructs/label.go
  conf/dop/i18n/cp/scenarios/release-manage.yaml
  modules/dicehub/release/db/label_relation.go
  modules/dicehub/release/db/release.go
  modules/dicehub/release/db/table.go
  modules/dicehub/release/provider.go
  modules/dicehub/release/release.go
  modules/dicehub/release/release.service.go
  modules/dicehub/release/release_test.go
  modules/dop/component-protocol/components/release-manage/releaseFilter/provider.go
  modules/dop/component-protocol/components/release-manage/releaseTable/model.go
  modules/dop/component-protocol/components/release-manage/releaseTable/render.go
  modules/dop/component-protocol/components/release-manage/releaseTable/render_test.go
  modules/dop/dao/label_relation.go
  modules/dop/endpoints/issue.go
  modules/dop/services/issue/convert.go
  modules/dop/services/issue/import.go
  modules/dop/services/issue/issue.go
  modules/dop/services/issue/label.go
Labels: feature

#4586 fix(pipeline): Solve pipeline cache memory leak problem
  conf/pipeline/pipeline.yaml
  modules/pipeline/providers/cache/impl.go
  modules/pipeline/providers/cache/impl_test.go
  modules/pipeline/providers/cache/interface.go
  modules/pipeline/providers/cache/provider.go
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/provider.go
  modules/pipeline/providers/reconciler/reconcile.go
  modules/pipeline/providers/reconciler/task_reconciler.go
Labels: pipeline, bugfix, approved

#4574 feat(pipeline): pipeline engine add docker executor
  apistructs/job.go
  go.mod
  modules/pipeline/dbclient/op_pipeline_config.go
  modules/pipeline/pipengine/actionexecutor/plugins/docker/docker.go
  modules/pipeline/pipengine/actionexecutor/plugins/docker/docker_test.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sjob/k8sjob.go
  modules/pipeline/pkg/container_provider/container_instance_provider.go
  modules/pipeline/pkg/container_provider/container_provider_test.go
  modules/pipeline/spec/pipeline_task.go
Labels: pipeline, feature, approved

#4582 feat: page query dashboard list
  api/proto-go/core/monitor/dataview/pb/dataview.form.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.pb.go
  api/proto-go/go.mod
  api/proto-go/go.sum
  api/proto/core/monitor/dataview/dataview.proto
  go.mod
  go.sum
  modules/core/monitor/dataview/dashboard_file.go
  modules/core/monitor/dataview/dashboard_file_test.go
  modules/core/monitor/dataview/data.view.service.go
  modules/core/monitor/dataview/data.view.service_test.go
  modules/core/monitor/dataview/db/db.go
Labels: feature, approved

#4584 chore(pipeline): pipeline status calculate support StopByUser
  modules/pipeline/commonutil/statusutil/service_pipeline_status.go
  modules/pipeline/commonutil/statusutil/service_pipeline_status_test.go
  modules/pipeline/commonutil/statusutil/status.go
  modules/pipeline/commonutil/statusutil/status_test.go
  modules/pipeline/dbclient/op_pipeline_task.go
Labels: pipeline

#4589 fix: remove env tags from dice_pipeline_task metric
  modules/pipeline/metrics/task.go
Labels: pipeline, bugfix, approved

#4585 feat(pipeline): Optimize the cms get api, change it to concurrent decryption
  modules/pipeline/providers/cms/pipeline_cms.go
Labels: pipeline, feature, approved

#4578 feat(pipeline): add secret cache to pipeline run and update to batch get cms
  modules/pipeline/initialize.go
  modules/pipeline/provider.go
  modules/pipeline/providers/cache/impl.go
  modules/pipeline/providers/cache/impl_test.go
  modules/pipeline/providers/cache/interface.go
  modules/pipeline/providers/cache/secret.go
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/services/pipelinesvc/create.go
  modules/pipeline/services/pipelinesvc/define.go
  modules/pipeline/services/pipelinesvc/precheck.go
  modules/pipeline/services/pipelinesvc/run.go
  modules/pipeline/services/pipelinesvc/secret.go
Labels: pipeline, feature, approved

#4593 fix: change log time format
  modules/dicehub/initialize.go
Labels: bugfix

#4594 feat: inject userinfo by openapi for dashboard creators
  api/proto-go/core/monitor/dataview/pb/dataview.form.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.json.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.pb.go
  api/proto-go/core/monitor/dataview/pb/dataview.validator.pb.go
  api/proto/core/monitor/dataview/dataview.proto
  modules/core/monitor/dataview/data.view.service.go
  pkg/common/apis/response.go
Labels: feature, approved

#4555 feat(pipeline): pipeline impl cancel at engine level
  conf/pipeline/pipeline.yaml
  go.sum
  modules/pipeline/dbclient/op_pipeline.go
  modules/pipeline/endpoints/pipeline.go
  modules/pipeline/providers/cron/daemon/provider.go
  modules/pipeline/providers/dispatcher/dispatcher.go
  modules/pipeline/providers/dispatcher/interface.go
  modules/pipeline/providers/engine/interface.go
  modules/pipeline/providers/leaderworker/config.go
  modules/pipeline/providers/leaderworker/etcd.go
  modules/pipeline/providers/leaderworker/impl_leader.go
  modules/pipeline/providers/leaderworker/impl_worker.go
  modules/pipeline/providers/leaderworker/interface.go
  modules/pipeline/providers/leaderworker/leader_cleanup.go
  modules/pipeline/providers/leaderworker/leader_framework.go
  modules/pipeline/providers/leaderworker/leader_listen_worker_task.go
  modules/pipeline/providers/leaderworker/lwctx/context.go
  modules/pipeline/providers/leaderworker/model.go
  modules/pipeline/providers/leaderworker/provider.go
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/reconcile.go
  modules/pipeline/providers/reconciler/task_reconciler.go
  modules/pipeline/providers/reconciler/taskrun/framework.go
  modules/pipeline/providers/reconciler/taskrun/task_loop.go
  modules/pipeline/providers/reconciler/taskrun/task_loop_test.go
  modules/pipeline/providers/reconciler/taskrun/taskop/create.go
  modules/pipeline/providers/reconciler/taskrun/taskop/prepare.go
  modules/pipeline/providers/reconciler/taskrun/taskop/queue.go
  modules/pipeline/providers/reconciler/taskrun/taskop/start.go
  modules/pipeline/providers/reconciler/taskrun/taskop/wait.go
  modules/pipeline/providers/reconciler/taskrun/taskrun.go
  modules/pipeline/providers/reconciler/taskrun/update.go
  modules/pipeline/services/pipelinesvc/cancel.go
  modules/pipeline/services/pipelinesvc/run.go
Labels: pipeline, feature

#4596 fix(pipeline): Only autoRun can use cache
  modules/pipeline/initialize.go
  modules/pipeline/providers/reconciler/interface.go
  modules/pipeline/providers/reconciler/snippet.go
  modules/pipeline/services/pipelinesvc/batch_create.go
  modules/pipeline/services/pipelinesvc/create.go
  modules/pipeline/services/pipelinesvc/create_v2.go
  modules/pipeline/services/pipelinesvc/precheck.go
  modules/pipeline/services/pipelinesvc/rerun_failed.go
  modules/pipeline/services/pipelinesvc/run.go
Labels: pipeline, bugfix, approved

#4590 feat(dop,pipeline): project pipeline support run params
  api/proto-go/core/pipeline/definition/client/client.go
  api/proto-go/core/pipeline/definition/pb/definition.form.pb.go
  api/proto-go/core/pipeline/definition/pb/definition.http.pb.go
  api/proto-go/core/pipeline/definition/pb/definition.json.pb.go
  api/proto-go/core/pipeline/definition/pb/definition.pb.go
  api/proto-go/core/pipeline/definition/pb/definition.validator.pb.go
  api/proto-go/core/pipeline/definition/pb/definition_grpc.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.form.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.json.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.validator.pb.go
  api/proto/core/pipeline/definition/definition.proto
  api/proto/dop/projectpipeline/projectpipeline.proto
  apistructs/pipeline.go
  modules/dop/component-protocol/components/project-pipeline/myPage/tabsTable/pipelineTable/provider.go
  modules/dop/providers/projectpipeline/service_impl.go
  modules/pipeline/providers/definition/pipeline_definition.go
  pkg/parser/pipelineyml/visitor_params.go
Labels: dop, pipeline, feature, approved

#4534 feat: Limit emptyDir and ephemeral_storage
  apistructs/service.go
  go.sum
  modules/orchestrator/scheduler/executor/plugins/k8s/addon/daemonset/daemonset.go
  modules/orchestrator/scheduler/executor/plugins/k8s/daemonset.go
  modules/orchestrator/scheduler/executor/plugins/k8s/deployment.go
  modules/orchestrator/scheduler/executor/plugins/k8s/job.go
  modules/orchestrator/scheduler/executor/plugins/k8s/k8sapi/types.go
  modules/orchestrator/scheduler/executor/plugins/k8s/statefulset.go
  modules/orchestrator/scheduler/impl/servicegroup/servicegroup.go
  modules/orchestrator/spec/legacy_dice.go
  modules/orchestrator/utils/deployment_utils.go
  pkg/parser/diceyml/basic_validate_visitor.go
  pkg/parser/diceyml/define.go
  pkg/parser/diceyml/errors.go
  pkg/parser/diceyml/fieldname_validate_visitor.go
  pkg/parser/diceyml/merge_env_visitor.go
Labels: feature, approved

#4588 fix: Fix empty issue plan time after inclusion change
  modules/dop/services/issue/issue.go
  modules/dop/services/issuerelated/issue_related.go
Labels: bugfix, approved

#4598 feat: Links on statistics of requirement and task overview
  apistructs/issue.go
  apistructs/issue_state.go
  modules/dop/component-protocol/components/common/issue.go
  modules/dop/component-protocol/components/requirement-task-overview/common/gshelper/helper.go
  modules/dop/component-protocol/components/requirement-task-overview/common/vars.go
  modules/dop/component-protocol/components/requirement-task-overview/container/info/model.go
  modules/dop/component-protocol/components/requirement-task-overview/container/info/render.go
  modules/dop/component-protocol/components/requirement-task-overview/container/simpleChart/model.go
  modules/dop/component-protocol/components/requirement-task-overview/container/simpleChart/render.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/model.go
  modules/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/render.go
  modules/dop/dao/issue.go
  modules/dop/dao/issue_state.go
  modules/dop/services/issuestate/issuestate.go
  modules/dop/services/issuestate/issuestate_mock.go
  providers/component-protocol/issueFilter/options.go
Labels: feature, approved

#4595 feat(dop): add content to guide
  .erda/migrations/dop/20220412-guide-add-pipelineymls.sql
  api/proto-go/dop/guide/pb/guide.form.pb.go
  api/proto-go/dop/guide/pb/guide.pb.go
  api/proto/dop/guide/guide.proto
  modules/dop/providers/guide/db/define.go
  modules/dop/providers/guide/guide.service.go
Labels: dop, feature

#4602 fix: create label relation when upload release
  api/proto-go/core/dicehub/release/pb/release.form.pb.go
  api/proto-go/core/dicehub/release/pb/release.pb.go
  api/proto/core/dicehub/release/release.proto
  modules/dicehub/release/release.go
Labels: bugfix

#4608 fix(pipeline): pipeline cancel on non-leader node
  modules/pipeline/providers/dispatcher/dispatcher.go
  modules/pipeline/providers/dispatcher/interface.go
  modules/pipeline/providers/engine/interface.go
  modules/pipeline/providers/leaderworker/impl_leader.go
  modules/pipeline/providers/leaderworker/interface.go
Labels: pipeline, bugfix, approved

#4607 fix: log rule show creator
  modules/msp/apm/log-service/rules/db/log_metric_config.go
  modules/msp/apm/log-service/rules/model.go
  modules/msp/apm/log-service/rules/routes.go
Labels: msp, bugfix, approved

#4605 fix: custom dashboard import userinfo error
  modules/core/monitor/dataview/dashboard_file.go
Labels: bugfix

#4610 chore: Update personal workbench i18n
  conf/admin/i18n/cp/scenarios/personal-workbench.yaml
  conf/dop/i18n/contribution.yaml
  modules/admin/component-protocol/components/personal-workbench/workCards/provider.go
Labels: approved

#4606 fix: Fix issue finish at and state condition, code refactor
  modules/dop/component-protocol/components/common/issue.go
  modules/dop/component-protocol/components/requirement-task-overview/container/info/render.go
Labels: bugfix, approved

#4611 fix: case tag is empty
  modules/orchestrator/services/addon/addon_handler.go
  modules/orchestrator/services/addon/addon_handler_test.go
Labels: orchestrator, bugfix

#4601 feat(dop): Project pipeline supports one-click create
  .erda/migrations/pipeline/20220413-pipeline-definition-drop-index.sql
  api/proto-go/dop/projectpipeline/client/client.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.form.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.http.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.json.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.validator.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline_grpc.pb.go
  api/proto/dop/projectpipeline/projectpipeline.proto
  apistructs/project_pipeline.go
  modules/dop/providers/guide/guide.service.go
  modules/dop/providers/projectpipeline/service.go
  modules/dop/providers/projectpipeline/service_impl.go
  modules/dop/providers/projectpipeline/service_impl_test.go
  modules/dop/services/apierrors/errors.go
Labels: dop, feature

#4614 fix(pipeline): skip loop task if status is stopbyuser
  apistructs/pipeline_status.go
  modules/pipeline/providers/reconciler/taskrun/task_loop.go
Labels: pipeline, bugfix, approved

#4616 fix(pipeline): platformSecrets do not use cache
  modules/pipeline/providers/cache/secret.go
  modules/pipeline/services/pipelinesvc/precheck.go
  modules/pipeline/services/pipelinesvc/run.go
Labels: approved

#4615 fix: no data in tags filter
  modules/dop/component-protocol/components/release-manage/releaseFilter/provider.go
Labels: bugfix

#4599 feat(cluster-dialer): cluster dialer support pipeline-agent register
  apistructs/cluster_dialer.go
  bundle/bundle.go
  bundle/cluster_dialer.go
  bundle/urls.go
  modules/cluster-dialer/auth/auth.go
  modules/cluster-dialer/server/tunnel-server.go
Labels: feature, approved

#4617 fix: runtime page access permission in domain list
  modules/hepa/cache/org/org.go
  modules/hepa/cache/org/org_test.go
  modules/hepa/services/domain/impl/impl.go
Labels: hepa, bugfix

#4618 feat(pipeline): stop queue when pipeline canceled
  modules/pipeline/providers/reconciler/taskrun/taskop/queue.go
Labels: pipeline, feature, approved

#4621 fix: modify label relation refID in core-services and dop
  modules/core-services/dao/label_relation.go
  modules/core-services/services/label/label.go
  modules/dop/component-protocol/components/issue-dashboard/bar/labelHorizontalBarChart/render.go
  modules/dop/dao/issue.go
Labels: bugfix

#4623 feat: use ci-build-local to build agent
  pipeline.yml
Labels: monitor-stack, approved

#4620 feat(cluster-dialer): cluster-dialer support record and query client data
  apistructs/cluster_dialer.go
  bundle/cluster_dialer.go
  modules/cluster-dialer/server/client_data.go
  modules/cluster-dialer/server/client_data_test.go
  modules/cluster-dialer/server/tunnel-server.go
Labels: feature, approved

#4624 fix: modify label relation refID in core-services and dop (Cherry-Pick)
  modules/core-services/dao/label_relation.go
  modules/core-services/services/label/label.go
  modules/dop/component-protocol/components/issue-dashboard/bar/labelHorizontalBarChart/render.go
  modules/dop/dao/issue.go
Labels: bugfix

#4625 fix: return null if there is no release with target tags (Cherry-Pick)
  modules/dicehub/release/release.go
Labels: bugfix

#4622 fix: return null if there is no release with target tags
  modules/dicehub/release/release.go
Labels: bugfix

#4628 fix: cassandra batch size bytes limit
  cmd/monitor/monitor/main.go
  cmd/monitor/streaming/main.go
  conf/monitor/collector/collector-agent.yaml
  conf/monitor/collector/collector.yaml
  conf/monitor/streaming/streaming.yaml
  go.mod
  go.sum
  modules/monitor/dashboard/org-apis/routes.go
  modules/oap/collector/plugins/all/all.go
  modules/oap/collector/plugins/processors/k8s-tagger/cache.go
  modules/oap/collector/plugins/processors/k8s-tagger/metadata/pod/pod.go
  modules/oap/collector/plugins/processors/k8s-tagger/metadata/pod/pod_test.go
  modules/oap/collector/plugins/processors/k8s-tagger/provider.go
  modules/oap/collector/plugins/processors/stdout/provider.go
Labels: msp, bugfix, approved

#4609 feat(dop): Project pipeline supports editing sources
  api/proto-go/dop/projectpipeline/pb/projectpipeline.form.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.json.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.pb.go
  api/proto-go/dop/projectpipeline/pb/projectpipeline.validator.pb.go
  api/proto/dop/projectpipeline/projectpipeline.proto
  conf/dop/i18n/cp/common.yaml
  modules/dop/component-protocol/components/project-pipeline/myPage/tabsTable/pipelineTable/provider.go
  modules/dop/component-protocol/components/project-pipeline/myPage/tabsTable/pipelineTable/provider_test.go
  modules/dop/providers/projectpipeline/service_impl.go
  modules/dop/providers/projectpipeline/service_impl_test.go
Labels: dop, feature

#4631 fix: polish: parse dice.yml concurrently when get release
  modules/dicehub/release/release.service.go
Labels: bugfix

#4630 feat(pipeline): not create subtasks when pipeline canceled
  apistructs/pipeline_status.go
  modules/dop/component-protocol/components/auto-test-scenes/rightPage/fileDetail/fileExecute/executeTaskTable/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/components/executeTaskTable/render.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/i18n/i18n.go
  modules/openapi/component-protocol/scenarios/auto-test-plan-detail/i18n/transfer.go
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/reconcile.go
  modules/pipeline/services/pipelinesvc/detail.go
  pkg/erda-configs/i18n/autotest_plan.json
Labels: pipeline, feature, approved

#4637 feat(gittar): add merge request stats api for gittar
  modules/gittar/api/merge.go
  modules/gittar/initialize.go
  modules/gittar/models/merge_request.go
  modules/openapi/api/apis/gittar/repo_proxy_get.go
Labels: feature, approved, gittar

#4640 fix: polish: pre check app concurrently in render-detail
  go.sum
  modules/orchestrator/services/deployment_order/deployment_order_render.go
Labels: bugfix

#4641 fix: render-detail panic
  modules/orchestrator/services/deployment_order/deployment_order_render.go
Labels: bugfix

#4639 feat(pipeline): add org annotation for pipeline job
  apistructs/job.go
  apistructs/pipeline.go
  apistructs/pipeline_task.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sflink/util.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sjob/k8sjob.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sspark/k8sspark.go
  modules/pipeline/providers/reconciler/taskrun/taskop/prepare.go
Labels: pipeline, feature, approved

#4627 feat(pipeline): add edgepipeline and register provider for communication between enter and edge
  apistructs/cluster_dialer.go
  bundle/bundle.go
  cmd/pipeline/main.go
  conf/pipeline/pipeline.yaml
  modules/pipeline/endpoints/endpoints.go
  modules/pipeline/initialize.go
  modules/pipeline/provider.go
  modules/pipeline/providers/edgepipeline/interface.go
  modules/pipeline/providers/edgepipeline/interface_test.go
  modules/pipeline/providers/edgepipeline/provider.go
  modules/pipeline/providers/edgepipeline_register/interface.go
  modules/pipeline/providers/edgepipeline_register/interface_test.go
  modules/pipeline/providers/edgepipeline_register/provider.go
  pkg/http/httpclient/client.go
Labels: pipeline, feature, approved

#4600 feat(pipeline): The pipeline component manages action definitions
  .erda/migrations/config.yml
  .erda/migrations/pipeline/20220412-pipeline-action.sql
  api/proto-go/all.go
  api/proto-go/core/pipeline/action/client/client.go
  api/proto-go/core/pipeline/action/client/provider.go
  api/proto-go/core/pipeline/action/pb/action.form.pb.go
  api/proto-go/core/pipeline/action/pb/action.http.pb.go
  api/proto-go/core/pipeline/action/pb/action.json.pb.go
  api/proto-go/core/pipeline/action/pb/action.pb.go
  api/proto-go/core/pipeline/action/pb/action.validator.pb.go
  api/proto-go/core/pipeline/action/pb/action_grpc.pb.go
  api/proto-go/core/pipeline/action/pb/register.services.pb.go
  api/proto/core/pipeline/action/action.proto
  apistructs/project_pipeline.go
  cmd/pipeline/main.go
  conf/pipeline/pipeline.yaml
  modules/pipeline/initialize.go
  modules/pipeline/pkg/action_info/passedDataWhenCreate.go
  modules/pipeline/pkg/action_info/passedDataWhenCreate_test.go
  modules/pipeline/provider.go
  modules/pipeline/providers/action/action.service.go
  modules/pipeline/providers/action/api_test.http
  modules/pipeline/providers/action/db/action.go
  modules/pipeline/providers/action/db/client.go
  modules/pipeline/providers/action/provider.go
  modules/pipeline/providers/cache/impl.go
  modules/pipeline/providers/cache/interface.go
  modules/pipeline/providers/cache/provider.go
  modules/pipeline/providers/reconciler/taskrun/taskop/prepare.go
  modules/pipeline/providers/reconciler/util.go
  modules/pipeline/services/apierrors/errors.go
  modules/pipeline/services/extmarketsvc/common.go
  modules/pipeline/services/extmarketsvc/define.go
  modules/pipeline/services/extmarketsvc/list.go
  modules/pipeline/services/pipelinesvc/create.go
  modules/pipeline/services/pipelinesvc/create_v2.go
  modules/pipeline/services/pipelinesvc/create_v2_test.go
  modules/pipeline/services/pipelinesvc/pipeline_resources.go
  modules/pipeline/services/pipelinesvc/precheck.go
Labels: pipeline, feature, approved

#4644 chore(pipeline): remove useless code of pipeline cancel
  modules/pipeline/providers/reconciler/reconcile.go
Labels: pipeline, approved

#4633 feat(pipeline): in-cluster pipeline job create k8sclient directly
  modules/cmp/impl/clusters/credential_test.go
  modules/pipeline/conf/conf.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sflink/type.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sjob/k8sjob.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sjob/k8sjob_test.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sspark/type.go
  pkg/k8sclient/client.go
Labels: pipeline, feature, approved

#4638 fix: orgs-api bugfix
  modules/core/monitor/alert/alert-apis/adapt/alert_test.go
  modules/monitor/dashboard/org-apis/container.go
  modules/monitor/utils/map.go
  modules/monitor/utils/map_test.go
Labels: bugfix, approved

#4642 fix(pipeline): judge task `IsErrorsExceed` by calculate count frequency per hour
  apistructs/pipeline_task.go
  apistructs/pipeline_task_test.go
Labels: pipeline, bugfix, approved

#4646 fix: panic when parse empty dice yml
  modules/dicehub/release/release.go
  modules/dicehub/release/release.service.go
Labels: bugfix

#4647 feat: The count field of log-service in the MSP module is internationalized
  conf/msp/i18n/msp-i18n.yaml
Labels: feature, approved

#4597 feat: enable csrf plugin on unity package
  modules/hepa/apipolicy/policies/csrf/policy.go
  modules/hepa/kong/base/kong_adapter.go
  modules/hepa/kong/dto/kong_route_req_dto.go
  modules/hepa/kong/dto/kong_route_req_dto_test.go
  modules/hepa/kong/interface.go
  modules/hepa/providers/legacy_upstream/upstream.service.go
  modules/hepa/services/api_policy/impl/impl.go
  modules/hepa/services/endpoint_api/impl/impl.go
  modules/hepa/services/legacy_upstream/impl/impl.go
  modules/hepa/services/micro_api/impl/impl.go
Labels: hepa, feature

#4649 feat: Internationalization of Microservice Governance Menu
  .erda/migrations/msp/20220419-menu.sql
Labels: feature, approved

#4648 feat: implement 53-bit snowflake id for js compatible
  go.mod
  go.sum
  pkg/crypto/uuid/snowflake.go
  pkg/crypto/uuid/snowflake/machine_id.go
  pkg/crypto/uuid/snowflake/machine_id_test.go
  pkg/crypto/uuid/snowflake/snowflake.go
  pkg/crypto/uuid/snowflake_test.go
Labels: feature, approved

#4650 fix(pipeline): support cancel when status is Queue in queueManager
  apistructs/pipeline_status.go
  modules/pipeline/providers/engine/interface.go
  modules/pipeline/providers/queuemanager/manager/pop_out.go
Labels: pipeline, bugfix, approved

#4654 fix: reverse string
  modules/hepa/gateway/dto/runtime_domains_dto.go
  pkg/strutil/slice.go
  pkg/strutil/slice_test.go
Labels: hepa, feature, bugfix

#4655 feat: Optimize issue query and remove msp query in personal workbench proje…
  modules/admin/component-protocol/components/personal-workbench/workCards/provider.go
  modules/admin/component-protocol/components/personal-workbench/workList/project.go
  modules/admin/services/workbench/issue.go
  modules/admin/services/workbench/project.go
Labels: feature

#4653 fix: modify app_resource_container_cpu invoke function
  conf/monitor/monitor/alert/rules/app_resource/app_resource_container_cpu/analyzer_expression.json
Labels: msp, bugfix, approved

#4658 fix(pipeline): fix the issue of canceling and UpdateCurrentReconcileStatusIfNecessary
  modules/pipeline/providers/queuemanager/load.go
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/snippet.go
Labels: pipeline, bugfix, approved

#4659 feat: rm EXTENSION_ZIP_ADDRS
  Makefile
  build/scripts/docker_image.sh
Labels: feature, approved

#4663 feat(pipeline): leaderworker add inspect api
  modules/pipeline/providers/leaderworker/inspect.go
  modules/pipeline/providers/leaderworker/provider.go
Labels: pipeline, feature, approved

#4667 ci: ci-deploy for dev
  .erda/pipelines/ci-deploy.yml
  .gitignore
  erda.yml
Labels: approved

#4669 fix(pipeline): load canceling logic tasks after load need-handled success
  modules/pipeline/providers/leaderworker/interface.go
  modules/pipeline/providers/leaderworker/leader_framework.go
  modules/pipeline/providers/leaderworker/leader_listen_worker_task.go
  modules/pipeline/providers/leaderworker/provider.go
  modules/pipeline/providers/queuemanager/load.go
Labels: pipeline, bugfix, approved

#4665 feat(dop): The issue information of project collaboration is not reported to the msp
  modules/dop/endpoints/endpoints.go
  modules/dop/endpoints/monitor.go
  modules/dop/initialize.go
  modules/dop/services/issue/issue.go
  modules/dop/services/monitor/monitor.go
  modules/dop/services/monitor/monitor_test.go
Labels: dop, feature, approved

#4656 fix: invalid memory address on getting plugin
  modules/hepa/apipolicy/policies/csrf/policy.go
Labels: hepa, bugfix

#4671 fix(dop,pipeline): fix autotest can not set Content-Type header and can not get result that not a json
  pkg/apitestsv2/apitest.go
  pkg/encoding/jsonparse/parse.go
  pkg/encoding/jsonparse/parse_test.go
Labels: dop, pipeline, bugfix, approved

#4678 fix(pipeline): k8sspark transfer affinity to node selector
  modules/pipeline/pipengine/actionexecutor/plugins/k8sspark/k8sspark.go
Labels: pipeline, bugfix, approved

#4684 feat: runtime instance return pod meta info
  apistructs/container.go
  modules/orchestrator/endpoints/instance.go
  modules/orchestrator/endpoints/instance_test.go
  modules/orchestrator/scheduler/executor/plugins/k8s/instanceinfosync/pod.go
Labels: orchestrator, feature

#4661 feat(pipeline): action-agent support edge pipeline
  apistructs/pipeline.go
  modules/actionagent/callback.go
  modules/actionagent/callback_reporter.go
  modules/actionagent/callback_test.go
  modules/actionagent/define.go
  modules/actionagent/execute.go
  modules/actionagent/exit.go
  modules/actionagent/file_watch_collector.go
  modules/actionagent/openapi.go
  modules/actionagent/openapi_test.go
  modules/actionagent/pull_bootstrap_info.go
  modules/actionagent/step_logic.go
  modules/actionagent/step_restore.go
  modules/actionagent/step_validate.go
  modules/actionagent/step_validate_test.go
  modules/actionagent/uploaddir.go
  modules/pipeline/conf/conf.go
  modules/pipeline/endpoints/callback.go
  modules/pipeline/endpoints/endpoints.go
  modules/pipeline/initialize.go
  modules/pipeline/provider.go
  modules/pipeline/providers/edgepipeline_register/interface.go
  modules/pipeline/providers/edgepipeline_register/interface_test.go
  modules/pipeline/providers/edgepipeline_register/provider.go
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/provider.go
  modules/pipeline/providers/reconciler/task_reconciler.go
  modules/pipeline/providers/reconciler/taskrun/taskop/prepare.go
  modules/pipeline/providers/reconciler/taskrun/taskrun.go
  modules/pipeline/services/pipelinesvc/define.go
  modules/pipeline/services/pipelinesvc/task.go
Labels: pipeline, feature, approved

#4692 fix(pipeline): flink pod remove invalid msp envs
  modules/pipeline/pipengine/actionexecutor/plugins/k8sflink/util.go
Labels: pipeline, bugfix, approved

#4696 fix: k8sclient new-func support some custom options
  modules/cmp/component-protocol/cputil/util.go
  modules/orchestrator/scheduler/executor/plugins/k8s/k8s.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sflink/type.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sjob/k8sjob.go
  modules/pipeline/pipengine/actionexecutor/plugins/k8sspark/type.go
  pkg/k8sclient/client.go
  providers/k8s-client-manager/provider.go
Labels: bugfix, approved

#4662 feat(pipeline): Update pipelineID、taskID、cronID、labelID and stageID to uuid
  modules/pipeline/dbclient/op_pipeline_base.go
  modules/pipeline/dbclient/op_pipeline_cron.go
  modules/pipeline/dbclient/op_pipeline_labels.go
  modules/pipeline/dbclient/op_pipeline_queue.go
  modules/pipeline/dbclient/op_pipeline_report.go
  modules/pipeline/dbclient/op_pipeline_stage.go
  modules/pipeline/dbclient/op_pipeline_task.go
  modules/pipeline/providers/cron/db/define_extra.go
  modules/pipeline/services/pipelinesvc/create_label.go
  modules/pipeline/services/pipelinesvc/create_label_test.go
Labels: pipeline, feature, approved

#4698 refactor(pipeline): add processedTasks syncmap to determine normally done
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/pipeline_reconciler_impl.go
  modules/pipeline/providers/reconciler/pipeline_reconciler_impl_test.go
  modules/pipeline/providers/reconciler/pipeline_reconciler_test.go
  modules/pipeline/providers/reconciler/reconcile.go
  modules/pipeline/providers/reconciler/task_reconciler.go
  modules/pipeline/providers/reconciler/util.go
Labels: pipeline, refactor, approved

#4693 feat(pipeline): edgepipeline_register providers add ShouldDispatchToEdge method
  modules/pipeline/providers/edgepipeline/interface.go
  modules/pipeline/providers/edgepipeline/interface_test.go
  modules/pipeline/providers/edgepipeline/provider.go
  modules/pipeline/providers/edgepipeline_register/interface.go
  modules/pipeline/providers/edgepipeline_register/interface_test.go
  modules/pipeline/providers/edgepipeline_register/provider.go
Labels: pipeline, feature, approved

#4695 feat: merge port of http-server in admin self and erda-infra
  conf/admin/admin.yaml
  conf/openapi/openapi.yaml
  erda.yml
  modules/admin/provider.go
  modules/openapi/api/apis/admin/admin_dingtalk.go
  pkg/parser/diceyml/diceyml_test.go
Labels: approved

#4703 fix(pipeline): Solve the problem of primary key conflict in batch creation of labels
  modules/pipeline/dbclient/op_pipeline_labels.go
  pkg/clusterdialer/dialer_test.go
Labels: pipeline, bugfix, approved

#4704 fix: deployment order deploy duplicate, app release can't cancel
  modules/orchestrator/endpoints/deployment_order.go
  modules/orchestrator/services/deployment_order/deployment_order_cancel.go
  modules/orchestrator/services/deployment_order/deployment_order_cancel_test.go
  modules/orchestrator/services/deployment_order/deployment_order_create.go
Labels: orchestrator, bugfix

#4706 fix: Fix token client table name.
  pkg/oauth2/clientstore/mysqlclientstore/client_store.go
Labels: bugfix, approved

#4699 fix: return userInfo when get release
  api/proto-go/core/dicehub/release/pb/release.form.pb.go
  api/proto-go/core/dicehub/release/pb/release.pb.go
  api/proto/core/dicehub/release/release.proto
  modules/dicehub/release/release.service.go
  modules/dop/component-protocol/components/release-manage/releaseTable/render.go
Labels: bugfix

#4701 feat: add unit test to project pipeline
  modules/dop/providers/projectpipeline/service_impl_test.go
Labels: feature, approved

#4697 fix: cmp OOM
  conf/cmp/cmp.yaml
  conf/cmp/i18n/cp/scenarios/cmp-dashboard-nodeDetail.yaml
  modules/cmp/component-protocol/components/cmp-dashboard-pods/podsTable/render.go
  modules/cmp/initialize.go
  modules/cmp/steve/aggregator.go
Labels: bugfix

#4710 feat: k8s-taggers support multi finders
  conf/monitor/collector/collector-agent.yaml
  conf/monitor/collector/collector.yaml
  modules/oap/collector/plugins/processors/k8s-tagger/metadata/pod/config.go
  modules/oap/collector/plugins/processors/k8s-tagger/metadata/pod/pod.go
  modules/oap/collector/plugins/processors/k8s-tagger/metadata/pod/pod_test.go
  modules/oap/collector/plugins/processors/k8s-tagger/provider.go
  modules/oap/collector/plugins/processors/k8s-tagger/tagger.go
Labels: feature, approved

#4712 fix: error shadowed in pkg/loop
  modules/orchestrator/services/deployment/deployment_context.go
  pkg/loop/loop.go
Labels: bugfix, approved

#4715 fix(pipeline): must set totalTaskNum
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/pipeline_reconciler_test.go
Labels: pipeline, bugfix, approved

#4673 feat(pipeline): pipeline edge cron pb
  api/proto-go/core/pipeline/base/pb/base.form.pb.go
  api/proto-go/core/pipeline/cron/pb/cron.form.pb.go
  api/proto-go/core/pipeline/cron/pb/cron.pb.go
  api/proto-go/core/pipeline/cron/pb/cron.validator.pb.go
  api/proto-go/core/pipeline/pb/cron_pub.form.pb.go
  api/proto-go/core/pipeline/pb/cron_pub.json.pb.go
  api/proto-go/core/pipeline/pb/cron_pub.pb.go
  api/proto-go/core/pipeline/pb/cron_pub.validator.pb.go
  api/proto/core/pipeline/cron/cron.proto
  api/proto/core/pipeline/cron_pub.proto
  modules/dop/endpoints/pipelinecron.go
  modules/dop/endpoints/pipelinecron_test.go
  modules/pipeline/providers/cron/cron.service.go
  modules/pipeline/providers/cron/cron.service_test.go
  modules/pipeline/providers/cron/db/define.go
  modules/pipeline/providers/cron/db/define_extra.go
  pkg/http/customhttp/request_test.go
Labels: pipeline, feature, approved

#4714 feat(openapi): Add access key authentication in openapi check token.
  cmd/openapi/main.go
  conf/openapi/openapi.yaml
  modules/core-services/providers/token/dao.go
  modules/core/openapi-ng/auth/token/check.go
  modules/core/openapi-ng/auth/token/provider.go
  modules/core/openapi-ng/routes/openapi-v1/provider.go
  modules/openapi/auth/auth.go
  modules/openapi/auth/token.go
  modules/openapi/auth/token_accesskey_test.go
  modules/openapi/auth/token_test.go
  modules/openapi/loginserver.go
  modules/openapi/provider.go
  modules/openapi/server.go
Labels: feature, openapi, approved

#4579 fix: Modify the level field of log metrics
  modules/extensions/loghub/exporter/output.go
  modules/msp/apm/log-service/analysis/consumer.go
  modules/msp/apm/log-service/analysis/processors/processors.go
  modules/msp/apm/log-service/analysis/processors/regex/regex.go
  modules/msp/apm/log-service/analysis/processors/regex/regex_test.go
  modules/msp/apm/log-service/rules/log_metric_config.go
  modules/msp/apm/log-service/rules/routes.go
Labels: msp, bugfix, approved

#4685 feat(pipeline): clusterinfo provider support get current cluster from configmap
  apistructs/cluster_info.go
  modules/orchestrator/scheduler/executor/plugins/k8s/clusterinfo/clusterinfo.go
  modules/pipeline/providers/clusterinfo/interface.go
  modules/pipeline/providers/clusterinfo/interface_test.go
  modules/pipeline/providers/clusterinfo/provider.go
Labels: approved

#4720 feat(dop): sceneSet name case sensitive
  modules/dop/dao/sceneset.go
  modules/dop/services/sceneset/sceneset.go
  modules/dop/services/sceneset/sceneset_test.go
Labels: dop, feature, approved

#4722 feat: modify msp menu
  .erda/migrations/msp/20220426-menu.sql
Labels: feature, approved

#4718 refactor(pipeline): combine action provider and extMarketSvc
  cmd/pipeline/main.go
  conf/pipeline/pipeline.yaml
  modules/pipeline/conf/conf.go
  modules/pipeline/endpoints/endpoints.go
  modules/pipeline/initialize.go
  modules/pipeline/pkg/action_info/passedDataWhenCreate.go
  modules/pipeline/pkg/action_info/passedDataWhenCreate_test.go
  modules/pipeline/provider.go
  modules/pipeline/providers/action/provider.go
  modules/pipeline/providers/actionmgr/action.service.go
  modules/pipeline/providers/actionmgr/api_test.http
  modules/pipeline/providers/actionmgr/common.go
  modules/pipeline/providers/actionmgr/common_test.go
  modules/pipeline/providers/actionmgr/db/action.go
  modules/pipeline/providers/actionmgr/db/client.go
  modules/pipeline/providers/actionmgr/impl.go
  modules/pipeline/providers/actionmgr/impl_test.go
  modules/pipeline/providers/actionmgr/interface.go
  modules/pipeline/providers/actionmgr/mock.go
  modules/pipeline/providers/actionmgr/provider.go
  modules/pipeline/providers/actionmgr/refresh.go
  modules/pipeline/providers/cache/impl.go
  modules/pipeline/providers/cache/interface.go
  modules/pipeline/providers/cache/provider.go
  modules/pipeline/providers/cron/cron.service.go
  modules/pipeline/providers/reconciler/interface.go
  modules/pipeline/providers/reconciler/pipeline_reconciler.go
  modules/pipeline/providers/reconciler/provider.go
  modules/pipeline/providers/reconciler/task_reconciler.go
  modules/pipeline/providers/reconciler/taskrun/taskop/prepare.go
  modules/pipeline/providers/reconciler/taskrun/taskrun.go
  modules/pipeline/services/extmarketsvc/common_test.go
  modules/pipeline/services/extmarketsvc/define.go
  modules/pipeline/services/extmarketsvc/list.go
  modules/pipeline/services/extmarketsvc/list_test.go
  modules/pipeline/services/pipelinesvc/create_task.go
  modules/pipeline/services/pipelinesvc/create_test.go
  modules/pipeline/services/pipelinesvc/create_v2.go
  modules/pipeline/services/pipelinesvc/create_v2_test.go
  modules/pipeline/services/pipelinesvc/define.go
  modules/pipeline/services/pipelinesvc/pipeline_resources.go
  modules/pipeline/services/pipelinesvc/precheck.go
  modules/pipeline/services/pipelinesvc/snippet.go
  modules/pipeline/services/pipelinesvc/snippet_test.go
Labels: pipeline, refactor, approved

#4725 fix(pipeline): loop tasks created many times due to network-error
  modules/pipeline/providers/reconciler/taskrun/framework.go
  modules/pipeline/providers/reconciler/taskrun/framework_test.go
Labels: pipeline, bugfix, approved

#4736 fix: kong route no field 'tags' in v0.14
  modules/hepa/kong/dto/kong_route_req_dto.go
Labels: hepa, bugfix

#4735 fix: label primary key
  .erda/migrations/cmdb/20220427-label-unique-key.sql
  modules/core-services/dao/label.go
  modules/core-services/services/label/label.go
  modules/dop/component-protocol/components/release-manage/releaseTable/render.go
Labels: bugfix

#4726 feat(dop): pipeline notifications add information for cicd
  modules/dop/initialize.go
  modules/dop/provider_test.go
  modules/dop/services/cdp/cdp.go
  pkg/erda-configs/i18n/notify_item.yml
Labels: dop, feature

#4738 fear(monitor): support running container to real log
  api/proto-go/core/monitor/log/query/client/client.go
  api/proto-go/core/monitor/log/query/pb/query.form.pb.go
  api/proto-go/core/monitor/log/query/pb/query.http.pb.go
  api/proto-go/core/monitor/log/query/pb/query.json.pb.go
  api/proto-go/core/monitor/log/query/pb/query.pb.go
  api/proto-go/core/monitor/log/query/pb/query_grpc.pb.go
  api/proto/core/monitor/log/query/query.proto
  conf/monitor/monitor/monitor.yaml
  modules/core/monitor/log/query/log.query.service.go
  modules/core/monitor/log/query/log.query.service_test.go
  modules/core/monitor/log/query/provider.go
  modules/core/monitor/log/storage/kubernetes-logs/pod_info.go
  modules/core/monitor/log/storage/kubernetes-logs/provider.go
  modules/core/monitor/log/storage/kubernetes-logs/storage.go
  modules/core/monitor/log/storage/kubernetes-logs/storage_test.go
  modules/openapi/api/apis/monitor/spot_dashboard_runtime_realtime_logs.go
Labels: approved

#4741 hotfix: loop tasks created many times due to network-error
  modules/pipeline/pipengine/reconciler/taskrun/feamework_test.go
  modules/pipeline/pipengine/reconciler/taskrun/framework.go
Labels: approved

#4750 fix(pipeline): Move the api-test code location to fix null pointer exception
  pkg/apitestsv2/apitest.go
Labels: pipeline, bugfix, approved

#4752 fix: edge register bundle `IsClusterDialerClientRegistered` force use client type
  bundle/cluster_dialer.go
  modules/pipeline/providers/edgepipeline_register/interface.go
  modules/pipeline/providers/edgepipeline_register/interface_test.go
Labels: bugfix, approved

#4755 chore: ignore api/proto-go/ for github pull request
  .gitattributes
Labels: approved

#4748 feat(pipeline): edge-pipeline provider add handlers for edge, center use
  modules/pipeline/providers/clusterinfo/provider.go
  modules/pipeline/providers/edgepipeline_register/edge_center_use.go
  modules/pipeline/providers/edgepipeline_register/edge_center_use_test.go
  modules/pipeline/providers/edgepipeline_register/interface.go
  modules/pipeline/providers/edgepipeline_register/provider.go
Labels: pipeline, feature, approved

#4764 feat: pipeline support refresh cluster interval from env config
  conf/pipeline/pipeline.yaml
Labels: feature

#4767 fix: fix the bug of xiexin invalid memory address or nil pointer
  modules/extensions/loghub/index/query/log_query.go
  modules/msp/apm/log-service/query/log.service.histogram.go
  modules/msp/apm/log-service/query/log.service.search.go
  modules/msp/apm/log-service/query/log.service.terms.go
Labels: msp, bugfix, approved
