Repository erda-project/erda, pull requests merged in 2023-10, with the labels that each got.

#6076 fix(openapi): skip validate csrf token for self-addr and same host-port
  internal/core/openapi/openapi-ng/interceptors/csrf/csrf.go
  internal/core/openapi/openapi-ng/interceptors/csrf/csrf_test.go
Labels: openapi, bugfix

#6080 feat(dop): iteration detail support show issue summary
  internal/apps/dop/endpoints/iteration.go
  internal/apps/dop/services/iteration/iteration.go
Labels: dop, feature, approved

#6078 feat(dop): issue excel time format
  internal/apps/dop/providers/issue/core/query/issueexcel/sheet_issue_import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheet_issue_import_test.go
Labels: dop, feature

#6081 fix(openapi): csrf token judge validation by referer and origin header
  internal/core/openapi/openapi-ng/interceptors/csrf/csrf.go
Labels: openapi, bugfix

#6077 feat: support batch deletion of projects
  api/proto/dop/issue/core/core.proto
  cmd/erda-server/conf/i18n/cp/scenarios/issue-manage.yaml
  internal/apps/admin/apierrors/errors.go
  internal/apps/devflow/flow/issue_mock.go
  internal/apps/dop/component-protocol/components/issue-dashboard/bar/labelHorizontalBarChart/render.go
  internal/apps/dop/component-protocol/components/issue-dashboard/filter/render.go
  internal/apps/dop/component-protocol/components/issue-gantt/gantt/render.go
  internal/apps/dop/component-protocol/components/issue-kanban/issueKanbanV2/provider.go
  internal/apps/dop/component-protocol/components/issue-manage/issueTable/props.go
  internal/apps/dop/component-protocol/components/issue-manage/issueTable/render.go
  internal/apps/dop/component-protocol/components/issue-manage/issueTable/render_test.go
  internal/apps/dop/component-protocol/components/requirement-task-overview/container/info/render.go
  internal/apps/dop/component-protocol/components/requirement-task-overview/distributePage/topFilter/render.go
  internal/apps/dop/component-protocol/components/requirement-task-overview/stackChartBlock/stackChart/model.go
  internal/apps/dop/component-protocol/scenarios/issue-manage.yml
  internal/apps/dop/component-protocol/standard-components/issueFilter/provider.go
  internal/apps/dop/component-protocol/types/const.go
  internal/apps/dop/initialize.go
  internal/apps/dop/providers/issue/core/provider.go
  internal/apps/dop/providers/issue/core/service.go
  internal/apps/dop/providers/issue/dao/core.go
  internal/apps/dop/providers/issue/dao/issue_relation.go
  internal/apps/dop/providers/issue/dao/property_relation.go
  internal/apps/dop/providers/issue/dao/state_circulation.go
  internal/apps/dop/services/apierrors/errors.go
  internal/core/legacy/services/apierrors/errors.go
  pkg/mock/issue_query_mock.go
Labels: feature

#6083 feat(dop): project report support show unfinished assignee ids detail
  internal/apps/dop/providers/issue/dao/core.go
  internal/apps/dop/providers/project_report/calculate.go
  internal/apps/dop/providers/project_report/metrics.go
  internal/apps/dop/providers/project_report/query.go
Labels: dop, feature, approved

#6085 feat(dop): issue excel title support i18n
  api/proto/dop/issue/core/core.proto
  cmd/erda-server/bootstrap.yaml
  cmd/erda-server/conf/i18n/issue-excel.yaml
  internal/apps/dop/initialize.go
  internal/apps/dop/providers/issue/core/file.go
  internal/apps/dop/providers/issue/core/provider.go
  internal/apps/dop/providers/issue/core/query/issueexcel/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/export_template.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/field.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_old.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_vars.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/data.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/export_type.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/i18n.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/i18n_test.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/model.go
  internal/apps/dop/providers/issue/core/service.go
Labels: dop, feature

#6086 feat(dop): issue excel set timeformat when parsed
  go.mod
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/util.go
  pkg/excel/decode.go
  pkg/excel/decode_test.go
  pkg/excel/testdata/time.xlsx
Labels: dop, feature

#6087 feat(dop): window.open do not have header, so use query param to get lang
  internal/apps/dop/providers/issue/core/provider.go
Labels: dop, feature

#6089 fix(dop): issue excel user when import
  internal/apps/dop/providers/issue/core/file.go
  internal/apps/dop/providers/issue/core/query/issueexcel/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_customfield/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/export_template.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_user/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/data.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/user.go
Labels: dop, bugfix

#6092 refactor(dop): issue excel importer split stages
  internal/apps/dop/providers/issue/core/query/issueexcel/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/interface.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_baseinfo/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_baseinfo/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_customfield/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_iteration/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_label/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_state/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_user/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/data.go
  pkg/excel/decode.go
  pkg/excel/row.go
Labels: dop, refactor

#6093 fix(dop): support collect user keys from issue-sheet.custom-fields
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_user/import.go
Labels: dop, bugfix

#6088 fix(orchestrator): Modify the addition method of now
  internal/tools/orchestrator/scheduler/instanceinfo/instance.go
Labels: orchestrator, bugfix, approved

#6096 feat(dop): issue excel export with droplist
  go.mod
  go.sum
  internal/apps/dop/providers/issue/core/query/issueexcel/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/interface.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_baseinfo/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_customfield/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_vars.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_iteration/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_label/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_state/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_user/export.go
  pkg/excel/cell.go
  pkg/excel/export_test.go
  pkg/excel/multi_sheet.go
Labels: dop, feature

#6097 feat(dop): add droplist&tip for all required fields; use custom title style
  api/proto/dop/issue/core/core.proto
  cmd/erda-server/conf/i18n/issue-excel.yaml
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_old.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_test.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_vars.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_state/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/data.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/i18n.go
  pkg/excel/multi_sheet.go
  pkg/strutil/regexp.go
  pkg/strutil/regexp_test.go
Labels: dop, feature

#6099 feat: add function point indicators
  internal/apps/dop/providers/project_report/query.go
Labels: feature, approved

#6101 fix: optimal ai create testcase chatcompletionmessage
  internal/pkg/ai-functions/functions/test-case/system-message.txt
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase.go
  internal/pkg/ai-functions/handler/utils/handler_function_utils.go
Labels: bugfix, approved

#6104 feat(dop): issue excel Importer add Precheck step
  internal/apps/dop/providers/issue/core/query/issueexcel/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/interface.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/export.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/field.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_old.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_iteration/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_iteration/import_test.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_state/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/data.go
Labels: dop, feature

#6105 fix(dop): fix the issue of not recognizing the project issue ids when create issue relations
  internal/apps/dop/providers/issue/core/file.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import.go
  internal/apps/dop/providers/issue/core/query/issueexcel/sheets/sheet_issue/import_test.go
  internal/apps/dop/providers/issue/core/query/issueexcel/vars/data.go
Labels: dop, bugfix

#6102 refactor(orchestrator): edas executor
  internal/tools/orchestrator/scheduler/executor/plugins/edas/edas.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/edas_app_flow.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/edas_event.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/edas_test.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/types/types.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/utils.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/utils/runtime.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/utils/utils.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/utils/utils_test.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/edas/app.client.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/edas/app.client_test.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/edas/changeorder.client.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/edas/errors.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/edas/provider.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/kubernetes/deployment.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/kubernetes/errros.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/kubernetes/provider.go
  internal/tools/orchestrator/scheduler/executor/plugins/edas/wrapclient/kubernetes/service.go
  internal/tools/orchestrator/scheduler/executor/plugins/k8s/addon/utils.go
  internal/tools/orchestrator/scheduler/executor/plugins/k8s/deployment.go
Labels: orchestrator, refactor

#6107 feat(pipeline): bind containerd sock for pipeline jobs
  internal/tools/pipeline/pipengine/pvolumes/bind.go
Labels: approved

#6106 refactor: Isolate func and model
  internal/apps/dop/component-protocol/components/issue-manage/batchOperationTipModal/model.go
  internal/apps/dop/component-protocol/components/issue-manage/batchOperationTipModal/render.go
  internal/apps/dop/component-protocol/components/issue-manage/batchOperationTipModal/render_test.go
  internal/apps/dop/component-protocol/components/issue-manage/issueTable/model.go
  internal/apps/dop/component-protocol/components/issue-manage/issueTable/render.go
  internal/apps/dop/component-protocol/components/issue-manage/scenario.go
  internal/apps/dop/component-protocol/scenarios/issue-manage.yml
Labels: refactor, approved

#6109 fix: alert out of index bug
  internal/apps/msp/apm/alert/components/msp-alert-event-detail/event-history-table/provider.go
Labels: bugfix

#6112 refactor: change the use of Transfer to cputil.ObjJSONTransfe
  internal/apps/dop/component-protocol/components/issue-manage/batchOperationTipModal/model.go
  internal/apps/dop/component-protocol/components/issue-manage/batchOperationTipModal/render.go
  internal/apps/dop/component-protocol/components/issue-manage/batchOperationTipModal/render_test.go
  internal/apps/dop/component-protocol/components/issue-manage/issueTable/render.go
Labels: refactor, approved

#6113 fix: deploy MSE gateway no need deploy pgsql
  internal/apps/msp/resource/deploy/coordinator/coordinator.go
  internal/apps/msp/resource/deploy/coordinator/coordinator_test.go
Labels: approved
