Repository erda-project/erda, pull requests merged in 2023-09, with the labels that each got.

#6032 fix(dop): first requirement model add TaskOnly&BugOnly fields to ensure excel title order correct
  internal/apps/dop/providers/issue/core/query/issueexcel/model_sample.go
Labels: dop, bugfix

#6033 fix(dop): iteration estimate time metric
  internal/apps/dop/providers/project_report/calculate.go
Labels: dop, bugfix, approved

#6034 feat: ai function batch create test case
  api/proto/apps/aifunction/ai-function.proto
  apistructs/aifunction.go
  bundle/testcase.go
  internal/apps/ai-proxy/filters/audit/filter.go
  internal/apps/ai-proxy/filters/azure-director/filter.go
  internal/apps/ai-proxy/filters/openai-director/filter.go
  internal/pkg/ai-functions/functions/function.go
  internal/pkg/ai-functions/functions/test-case/function.go
  internal/pkg/ai-functions/functions/test-case/function_test.go
  internal/pkg/ai-functions/handler/handler_ai_function.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase_test.go
  internal/pkg/ai-functions/handler/utils/handler_function_utils.go
  internal/pkg/ai-functions/sdk/client.go
  pkg/http/httputil/header.go
Labels: feature

#6037 feat(dop): issue-manage support query reopened bug issues
  api/proto/dop/issue/core/core.proto
  cmd/erda-server/conf/i18n/cp/common.yaml
  internal/apps/dop/component-protocol/standard-components/issueFilter/conditions.go
  internal/apps/dop/component-protocol/standard-components/issueFilter/provider.go
  internal/apps/dop/providers/issue/dao/core.go
  internal/apps/dop/providers/project_report/query.go
Labels: dop, feature, approved

#6038 fix: ai proxy
  api/proto/apps/aiproxy/client/client.proto
  api/proto/apps/aiproxy/session/session.proto
  internal/apps/ai-proxy/filters/context/filter.go
  internal/apps/ai-proxy/handlers/permission/method.go
  internal/apps/ai-proxy/models/client/dbclient.go
Labels: bugfix

#6040 feat(reactor): reactor ai function sdk use openai
  internal/pkg/ai-functions/functions/function.go
  internal/pkg/ai-functions/functions/test-case/function.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase_test.go
  internal/pkg/ai-functions/handler/utils/handler_function_utils.go
  internal/pkg/ai-functions/sdk/api.go
  internal/pkg/ai-functions/sdk/client.go
  internal/pkg/ai-functions/sdk/client_test.go
Labels: feature

#6042 feat(ai-function): create testset if not set testSetID
  bundle/testset.go
  cmd/erda-server/bootstrap.yaml
  internal/pkg/ai-functions/functions/test-case/function.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase_test.go
Labels: feature

#6043 fix: ai function validate Params
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase.go
Labels: bugfix

#6045 feat(ai-proxy): add client token; add rate-limit filter
  .erda/ai-proxy/migrations/ai-proxy/20230823-ai-proxy.sql
  .github/workflows/ci-it.yml
  api/proto/apps/aiproxy/client_token/client_token.proto
  cmd/ai-proxy/bootstrap.yml
  internal/apps/ai-proxy/dependent_filters.go
  internal/apps/ai-proxy/filters/audit/filter.go
  internal/apps/ai-proxy/filters/audit/filter_test.go
  internal/apps/ai-proxy/filters/context/filter.go
  internal/apps/ai-proxy/filters/rate-limit/.keep
  internal/apps/ai-proxy/filters/rate-limit/filter.go
  internal/apps/ai-proxy/handlers/common/akutil/ak.go
  internal/apps/ai-proxy/handlers/common/akutil/token.go
  internal/apps/ai-proxy/handlers/handler_client_token/handler.go
  internal/apps/ai-proxy/handlers/permission/define.go
  internal/apps/ai-proxy/handlers/permission/method.go
  internal/apps/ai-proxy/models/client_token/dbclient.go
  internal/apps/ai-proxy/models/client_token/table.go
  internal/apps/ai-proxy/models/metadata/metadata.go
  internal/apps/ai-proxy/models/model_provider/table.go
  internal/apps/ai-proxy/provider.go
  internal/apps/ai-proxy/providers/dao/provider.go
  internal/apps/ai-proxy/vars/consts.go
Labels: feature

#6046 feat: ai function support set system prompt
  api/proto/apps/aifunction/ai-function.proto
  internal/pkg/ai-functions/functions/test-case/function.go
  internal/pkg/ai-functions/handler/handler_ai_function.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase_test.go
  internal/pkg/ai-functions/handler/utils/handler_function_utils.go
Labels: approved

#6044 fix(pipeline): pipeline source is not unique due to version lock
  internal/tools/pipeline/providers/source/db/source.go
  internal/tools/pipeline/providers/source/pipeline_source.go
Labels: pipeline, bugfix, approved

#6049 feat: Optimize prompt for test case generate
  internal/pkg/ai-functions/functions/test-case/function.go
  internal/pkg/ai-functions/functions/test-case/system-message.txt
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase.go
  internal/pkg/ai-functions/handler/handler_ai_function_create_testcase_test.go
Labels: feature, approved

#6052 refactor(ai-proxy): routes & config & initial-filter
  .gitignore
  cmd/ai-proxy/bootstrap.yml
  cmd/ai-proxy/conf/routes.yml
  internal/apps/ai-proxy/common/ctxhelper/config.go
  internal/apps/ai-proxy/common/ctxhelper/ctx.go
  internal/apps/ai-proxy/common/ctxhelper/logger.go
  internal/apps/ai-proxy/config/config.go
  internal/apps/ai-proxy/dependent_filters.go
  internal/apps/ai-proxy/filters/initial/filter.go
  internal/apps/ai-proxy/filters/log-http/filter.go
  internal/apps/ai-proxy/filters/message-context/filter.go
  internal/apps/ai-proxy/provider.go
Labels: refactor

#6055 fix(orchestrator): repair sql injection
  internal/tools/orchestrator/scheduler/instanceinfo/pod.go
Labels: orchestrator, bugfix, approved

#6039 fix(orchestrator): deployment order custom addon name precheck
  internal/tools/orchestrator/services/deployment_order/deployment_order_render.go
  internal/tools/orchestrator/services/deployment_order/deployment_order_render_test.go
Labels: orchestrator, bugfix

#6062 fix(orchestrator): repair sql injection
  internal/tools/orchestrator/scheduler/instanceinfo/instance.go
Labels: orchestrator, bugfix

#6053 feat(dop): performance measure metrics
  apistructs/gittar.go
  apistructs/issue.go
  apistructs/performance_measure.go
  apistructs/project_report.go
  apistructs/workbench.go
  cmd/erda-server/bootstrap.yaml
  cmd/erda-server/conf/i18n/cp/scenarios/personal-workbench.yaml
  cmd/erda-server/main.go
  internal/apps/admin/personal-workbench/component-protocol/components/personal-workbench/performanceHead/performanceHead.go
  internal/apps/admin/personal-workbench/component-protocol/components/personal-workbench/scenario.go
  internal/apps/admin/personal-workbench/component-protocol/components/personal-workbench/workContainer/workContainer.go
  internal/apps/admin/personal-workbench/component-protocol/components/personal-workbench/workTabs/workTabs.go
  internal/apps/admin/personal-workbench/component-protocol/scenarios/personal-workbench.yml
  internal/apps/dop/providers/efficiency_measure/basic_info.go
  internal/apps/dop/providers/efficiency_measure/cache.go
  internal/apps/dop/providers/efficiency_measure/calculate.go
  internal/apps/dop/providers/efficiency_measure/check.go
  internal/apps/dop/providers/efficiency_measure/contributor_query.go
  internal/apps/dop/providers/efficiency_measure/efficiency_query.go
  internal/apps/dop/providers/efficiency_measure/func_points_trend.go
  internal/apps/dop/providers/efficiency_measure/metric.go
  internal/apps/dop/providers/efficiency_measure/provider.go
  internal/apps/dop/providers/issue/dao/core.go
  internal/apps/dop/providers/issue/dao/performance_measure.go
  internal/apps/dop/providers/project_report/calculate.go
  internal/apps/dop/providers/project_report/query.go
  internal/core/legacy/dao/member.go
  internal/core/legacy/model/member.go
  internal/core/openapi/legacy/api/apis/dop/efficiency_measure_query.go
  internal/core/openapi/legacy/api/apis/dop/func_pooints_query.go
  internal/core/openapi/legacy/api/apis/dop/personal_contribution_query.go
  internal/tools/gittar/conf/conf.go
  internal/tools/gittar/initialize.go
  internal/tools/gittar/metrics/collector.go
  internal/tools/gittar/models/repo.go
  internal/tools/gittar/pkg/gitmodule/repo_commit.go
  internal/tools/gittar/provider.go
Labels: dop, feature, approved

#6063 feat(dop): efficiency measurement support group by project
  apistructs/performance_measure.go
  cmd/erda-server/conf/i18n/cp/scenarios/personal-workbench.yaml
  internal/apps/admin/personal-workbench/component-protocol/components/personal-workbench/workTabs/workTabs.go
  internal/apps/dop/providers/efficiency_measure/efficiency_query.go
  internal/apps/dop/providers/issue/dao/performance_measure.go
Labels: dop, feature, approved

#6066 fix(dop): some bug metrics should not contain wont fix states
  internal/apps/dop/providers/efficiency_measure/calculate.go
  internal/apps/dop/providers/efficiency_measure/contributor_query.go
  internal/apps/dop/providers/efficiency_measure/efficiency_query.go
  internal/apps/dop/providers/efficiency_measure/metric.go
  internal/apps/dop/providers/efficiency_measure/provider.go
  internal/apps/dop/providers/issue/dao/performance_measure.go
Labels: dop, bugfix, approved

#6068 feat(ai-proxy): wrap user prompt by |start| & |end| to avoid from content-filter
  internal/apps/ai-proxy/filters/message-context/filter.go
Labels: feature

#6071 fix(dop): dev defect density
  internal/apps/dop/providers/efficiency_measure/efficiency_query.go
  internal/apps/dop/providers/efficiency_measure/provider.go
Labels: dop, bugfix, approved

#6072 feat: ai-proxy support text-embeddings model
  cmd/ai-proxy/conf/routes.yml
  internal/apps/ai-proxy/filters/audit/filter.go
Labels: feature, approved

#6073 fix(dop): efficiency measurement metrics add projectID
  internal/apps/dop/providers/efficiency_measure/efficiency_query.go
  internal/tools/gittar/metrics/collector.go
Labels: dop, bugfix, approved

#6074 fix(dop): user avg fix bug elapsed minute
  internal/apps/dop/providers/efficiency_measure/calculate.go
Labels: dop, bugfix, approved
