Repository erda-project/erda, pull requests merged in 2024-04, with the labels that each got.

#6325 fix(pipeline): non-config autotest missing cookie header between step
  internal/tools/pipeline/aop/plugins/task/autotest_cookie_keep_after/plugin.go
Labels: pipeline, bugfix, approved

#6327 fix(msp): microservice failed to find cluster name
  internal/apps/msp/tenant/db/tenant.go
  internal/apps/msp/tenant/project/project.service.go
Labels: msp, bugfix

#6333 feat(gittar): add `feature/develop` for collecting git metrics
  internal/tools/gittar/conf/conf.go
  internal/tools/gittar/conf/conf_test.go
  internal/tools/gittar/metrics/collector.go
Labels: feature, approved, gittar

#6326 fix(monitor): disk blk_read_bytes being negative due to `diffps`
  internal/tools/monitor/core/metric/query/es-tsql/influxql/ckFunctions.go
  internal/tools/monitor/core/metric/query/es-tsql/influxql/ckFunctions_test.go
Labels: approved

#6335 feat(hepa): api proxy host pass-through set default as true
  internal/tools/orchestrator/hepa/apipolicy/policies/proxy/policy.go
  internal/tools/orchestrator/hepa/config/config.go
  internal/tools/orchestrator/hepa/provider.go
Labels: hepa, feature, approved

#6334 fix(msp): msp tenant missing related workspace
  internal/apps/msp/tenant/db/tenant.go
Labels: msp, bugfix, approved

#6339 feat(gittar): add organization whitelist configuration for code contribution
  internal/tools/gittar/conf/conf.go
  internal/tools/gittar/metrics/collector.go
Labels: feature, approved, gittar

#6338 feat(monitor): add `erda` orgName in selector when download logs
  internal/tools/monitor/core/log/query/log.query.service.go
  internal/tools/monitor/core/log/query/log.query.service_test.go
  internal/tools/monitor/core/log/query/routes.go
Labels: feature

#6341 feat: browser analysics support attributes
  internal/apps/msp/apm/browser/consumer.go
  internal/tools/monitor/core/collector/routes.go
Labels: feature, approved
